examples/Swagger Petstore Add Pet.json
[{"id":"813b01c7dda2f755","type":"inject","z":"d2d44cfb5f60882d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":0,\"category\":{\"id\":0,\"name\":\"string\"},\"name\":\"doggie\",\"photoUrls\":[\"string\"],\"tags\":[{\"id\":0,\"name\":\"string\"}],\"status\":\"available\"}","payloadType":"json","x":90,"y":280,"wires":[["455e2bd79b0df75b"]]},{"id":"fe03e33914ecfbb4","type":"debug","z":"d2d44cfb5f60882d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"455e2bd79b0df75b","type":"swagger-petstore","z":"d2d44cfb5f60882d","service":"9a670e8fdd7b7e9b","method":"addPet","uploadFile_petId":"","uploadFile_petIdType":"str","uploadFile_additionalMetadata":"","uploadFile_additionalMetadataType":"str","uploadFile_file":"","uploadFile_fileType":"str","addPet_body":"","addPet_bodyType":"str","updatePet_body":"","updatePet_bodyType":"str","findPetsByStatus_status":"","findPetsByStatus_statusType":"str","findPetsByTags_tags":"","findPetsByTags_tagsType":"str","getPetById_petId":"","getPetById_petIdType":"str","updatePetWithForm_petId":"","updatePetWithForm_petIdType":"str","updatePetWithForm_name":"","updatePetWithForm_nameType":"str","updatePetWithForm_status":"","updatePetWithForm_statusType":"str","deletePet_apiKey":"","deletePet_apiKeyType":"str","deletePet_petId":"","deletePet_petIdType":"str","placeOrder_body":"","placeOrder_bodyType":"str","getOrderById_orderId":"","getOrderById_orderIdType":"str","deleteOrder_orderId":"","deleteOrder_orderIdType":"str","createUsersWithArrayInput_body":"","createUsersWithArrayInput_bodyType":"str","createUsersWithListInput_body":"","createUsersWithListInput_bodyType":"str","getUserByName_username":"","getUserByName_usernameType":"str","updateUser_username":"","updateUser_usernameType":"str","updateUser_body":"","updateUser_bodyType":"str","deleteUser_username":"","deleteUser_usernameType":"str","loginUser_username":"","loginUser_usernameType":"str","loginUser_password":"","loginUser_passwordType":"str","createUser_body":"","createUser_bodyType":"str","name":"","x":360,"y":280,"wires":[["fe03e33914ecfbb4"]]},{"id":"9a670e8fdd7b7e9b","type":"swagger-petstore-service","secureApiKeyHeaderOrQueryName":"apikey","name":"api"}]