examples/Swagger Petstore.json
[{"id":"d2d44cfb5f60882d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e8488ab60da104e5","type":"tab","label":"lower case","disabled":false,"info":"","env":[]},{"id":"f8b3404232c6ce7e","type":"tab","label":"thingsboard-rest-api","disabled":false,"info":"","env":[]},{"id":"b8704d44e4eb0d96","type":"tab","label":"SWagger Petstore","disabled":false,"info":"","env":[]},{"id":"15d2d734319b175f","type":"swagger-petstore-service","secureTokenHeaderOrQueryName":"","secureTokenIsQuery":"false","secureApiKeyHeaderOrQueryName":"token","name":"token"},{"id":"e2a17a5781eb7832","type":"thingsboard-rest-api-service","secureApiKeyHeaderOrQueryName":"apikey","name":"apikey"},{"id":"11c3343fd6b891a9","type":"swagger-petstore-service","secureApiKeyHeaderOrQueryName":"apikey","name":"apikey"},{"id":"2222a9e7492fba89","type":"lower-case","z":"d2d44cfb5f60882d","name":"","x":370,"y":180,"wires":[["bc03c71e692a0a6e"]]},{"id":"8ad397b2bccef285","type":"inject","z":"d2d44cfb5f60882d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AKASH","payloadType":"str","x":130,"y":180,"wires":[["a8d84ee1dc370f08"]]},{"id":"bc03c71e692a0a6e","type":"debug","z":"d2d44cfb5f60882d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"51a0062213686c80","type":"swagger-petstore","z":"d2d44cfb5f60882d","service":"15d2d734319b175f","method":"addPet","uploadFile_petId":"1","uploadFile_petIdType":"str","uploadFile_additionalMetadata":"","uploadFile_additionalMetadataType":"str","uploadFile_file":"","uploadFile_fileType":"str","addPet_body":"","addPet_bodyType":"str","updatePet_body":"","updatePet_bodyType":"str","findPetsByStatus_status":"","findPetsByStatus_statusType":"str","findPetsByTags_tags":"","findPetsByTags_tagsType":"str","getPetById_petId":"","getPetById_petIdType":"str","updatePetWithForm_petId":"","updatePetWithForm_petIdType":"str","updatePetWithForm_name":"","updatePetWithForm_nameType":"str","updatePetWithForm_status":"","updatePetWithForm_statusType":"str","deletePet_apiKey":"","deletePet_apiKeyType":"str","deletePet_petId":"","deletePet_petIdType":"str","placeOrder_body":"","placeOrder_bodyType":"str","getOrderById_orderId":"","getOrderById_orderIdType":"str","deleteOrder_orderId":"","deleteOrder_orderIdType":"str","createUsersWithArrayInput_body":"","createUsersWithArrayInput_bodyType":"str","createUsersWithListInput_body":"","createUsersWithListInput_bodyType":"str","getUserByName_username":"","getUserByName_usernameType":"str","updateUser_username":"","updateUser_usernameType":"str","updateUser_body":"","updateUser_bodyType":"str","deleteUser_username":"","deleteUser_usernameType":"str","loginUser_username":"","loginUser_usernameType":"str","loginUser_password":"","loginUser_passwordType":"str","createUser_body":"","createUser_bodyType":"str","name":"petstore","x":380,"y":280,"wires":[["fe03e33914ecfbb4"]]},{"id":"813b01c7dda2f755","type":"inject","z":"d2d44cfb5f60882d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":0,\"category\":{\"id\":0,\"name\":\"string\"},\"name\":\"doggie\",\"photoUrls\":[\"string\"],\"tags\":[{\"id\":0,\"name\":\"string\"}],\"status\":\"available\"}","payloadType":"json","x":90,"y":280,"wires":[["51a0062213686c80"]]},{"id":"fe03e33914ecfbb4","type":"debug","z":"d2d44cfb5f60882d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"befa7f3589d1a10c","type":"inject","z":"d2d44cfb5f60882d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":380,"wires":[["7727fde319de6c55"]]},{"id":"1e2582307bdf0124","type":"debug","z":"d2d44cfb5f60882d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"7727fde319de6c55","type":"enlight-iot-api","z":"d2d44cfb5f60882d","method":"get_datastream_collections","delete_datastream_collections_payload":"","delete_datastream_collections_payloadType":"str","delete_datastream_collections_xENlightIoTKey":"","delete_datastream_collections_xENlightIoTKeyType":"str","get_datastream_collections_xENlightIoTKey":"9520b7205149453786a80b5b50c0dd5a","get_datastream_collections_xENlightIoTKeyType":"str","post_datastream_collections_payload":"","post_datastream_collections_payloadType":"str","post_datastream_collections_xENlightIoTKey":"","post_datastream_collections_xENlightIoTKeyType":"str","get_datastream_collection_startTime":"","get_datastream_collection_startTimeType":"str","get_datastream_collection_endTime":"","get_datastream_collection_endTimeType":"str","get_datastream_collection_name":"","get_datastream_collection_nameType":"str","get_datastream_collection_xENlightIoTKey":"","get_datastream_collection_xENlightIoTKeyType":"str","put_datastream_collection_payload":"","put_datastream_collection_payloadType":"str","put_datastream_collection_name":"","put_datastream_collection_nameType":"str","put_datastream_collection_xENlightIoTKey":"","put_datastream_collection_xENlightIoTKeyType":"str","delete_device_collection_payload":"","delete_device_collection_payloadType":"str","delete_device_collection_xENlightIoTKey":"","delete_device_collection_xENlightIoTKeyType":"str","get_device_collection_status":"enable","get_device_collection_statusType":"str","get_device_collection_name":"","get_device_collection_nameType":"str","get_device_collection_visibility":"public","get_device_collection_visibilityType":"str","get_device_collection_xENlightIoTKey":"","get_device_collection_xENlightIoTKeyType":"str","post_device_collection_payload":"","post_device_collection_payloadType":"str","post_device_collection_xENlightIoTKey":"","post_device_collection_xENlightIoTKeyType":"str","get_device_operations_xENlightIoTKey":"","get_device_operations_xENlightIoTKeyType":"str","get_device_operations_deviceId":"","get_device_operations_deviceIdType":"str","put_device_operations_payload":"","put_device_operations_payloadType":"str","put_device_operations_xENlightIoTKey":"","put_device_operations_xENlightIoTKeyType":"str","put_device_operations_deviceId":"","put_device_operations_deviceIdType":"str","get_user_test_startTime":"","get_user_test_startTimeType":"str","get_user_test_datastreamName":"","get_user_test_datastreamNameType":"str","get_user_test_endTime":"","get_user_test_endTimeType":"str","get_user_test_xENlightIoTKey":"","get_user_test_xENlightIoTKeyType":"str","get_data_collection_datastreamName":"","get_data_collection_datastreamNameType":"str","get_data_collection_xENlightIoTKey":"","get_data_collection_xENlightIoTKeyType":"str","get_data_collection_1_datastreamName":"","get_data_collection_1_datastreamNameType":"str","get_data_collection_1_xENlightIoTKey":"","get_data_collection_1_xENlightIoTKeyType":"str","get_data_collection_1_deviceId":"","get_data_collection_1_deviceIdType":"str","post_data_collection_payload":"","post_data_collection_payloadType":"str","post_data_collection_datastreamName":"","post_data_collection_datastreamNameType":"str","post_data_collection_xENlightIoTKey":"","post_data_collection_xENlightIoTKeyType":"str","post_data_collection_deviceId":"","post_data_collection_deviceIdType":"str","name":"","x":420,"y":380,"wires":[["1e2582307bdf0124"]]},{"id":"0387f198cb408f82","type":"function","z":"d2d44cfb5f60882d","name":"lower","func":"msg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["bc03c71e692a0a6e"]]},{"id":"a8d84ee1dc370f08","type":"lower","z":"d2d44cfb5f60882d","name":"lower","x":390,"y":480,"wires":[["bc03c71e692a0a6e"]]},{"id":"786d9ce1.c1c3a4","type":"inject","z":"e8488ab60da104e5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AKASH","payloadType":"str","x":170,"y":160,"wires":[["726f08b3.50bfd8"]]},{"id":"726f08b3.50bfd8","type":"lower","z":"e8488ab60da104e5","name":"","x":380,"y":160,"wires":[["82d40348.2d47b"]]},{"id":"82d40348.2d47b","type":"debug","z":"e8488ab60da104e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":160,"wires":[]},{"id":"8fa3f625a73cbbcd","type":"inject","z":"f8b3404232c6ce7e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"taloleakash@gmail.com\", \"password\":\"akashtalole\"}","payloadType":"json","x":110,"y":140,"wires":[["480b881c8049f870"]]},{"id":"0e52c779f78c6eb8","type":"debug","z":"f8b3404232c6ce7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"7664b82e828a20f3","type":"inject","z":"f8b3404232c6ce7e","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":220,"wires":[["cfc73f6780a2f875"]]},{"id":"48391c8381963423","type":"debug","z":"f8b3404232c6ce7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"480b881c8049f870","type":"thingsboard-rest-api","z":"f8b3404232c6ce7e","service":"e2a17a5781eb7832","method":"loginPost","saveSecuritySettingsUsingPOST_body":"","saveSecuritySettingsUsingPOST_bodyType":"str","saveAdminSettingsUsingPOST_body":"","saveAdminSettingsUsingPOST_bodyType":"str","sendTestMailUsingPOST_body":"","sendTestMailUsingPOST_bodyType":"str","sendTestSmsUsingPOST_body":"","sendTestSmsUsingPOST_bodyType":"str","getAdminSettingsUsingGET_key":"","getAdminSettingsUsingGET_keyType":"str","loginPost_body":"","loginPost_bodyType":"str","saveAlarmUsingPOST_body":"","saveAlarmUsingPOST_bodyType":"str","getHighestAlarmSeverityUsingGET_entityType":"","getHighestAlarmSeverityUsingGET_entityTypeType":"str","getHighestAlarmSeverityUsingGET_entityId":"","getHighestAlarmSeverityUsingGET_entityIdType":"str","getHighestAlarmSeverityUsingGET_searchStatus":"ACK","getHighestAlarmSeverityUsingGET_searchStatusType":"str","getHighestAlarmSeverityUsingGET_status":"ACTIVE_ACK","getHighestAlarmSeverityUsingGET_statusType":"str","getAlarmInfoByIdUsingGET_alarmId":"","getAlarmInfoByIdUsingGET_alarmIdType":"str","getAlarmByIdUsingGET_alarmId":"","getAlarmByIdUsingGET_alarmIdType":"str","deleteAlarmUsingDELETE_alarmId":"","deleteAlarmUsingDELETE_alarmIdType":"str","ackAlarmUsingPOST_alarmId":"","ackAlarmUsingPOST_alarmIdType":"str","clearAlarmUsingPOST_alarmId":"","clearAlarmUsingPOST_alarmIdType":"str","getAlarmsUsingGET_entityType":"","getAlarmsUsingGET_entityTypeType":"str","getAlarmsUsingGET_entityId":"","getAlarmsUsingGET_entityIdType":"str","getAlarmsUsingGET_searchStatus":"ACK","getAlarmsUsingGET_searchStatusType":"str","getAlarmsUsingGET_status":"ACTIVE_ACK","getAlarmsUsingGET_statusType":"str","getAlarmsUsingGET_pageSize":"","getAlarmsUsingGET_pageSizeType":"str","getAlarmsUsingGET_page":"","getAlarmsUsingGET_pageType":"str","getAlarmsUsingGET_textSearch":"","getAlarmsUsingGET_textSearchType":"str","getAlarmsUsingGET_sortProperty":"ackTs","getAlarmsUsingGET_sortPropertyType":"str","getAlarmsUsingGET_sortOrder":"ASC","getAlarmsUsingGET_sortOrderType":"str","getAlarmsUsingGET_startTime":"","getAlarmsUsingGET_startTimeType":"str","getAlarmsUsingGET_endTime":"","getAlarmsUsingGET_endTimeType":"str","getAlarmsUsingGET_fetchOriginator":"","getAlarmsUsingGET_fetchOriginatorType":"str","getAllAlarmsUsingGET_searchStatus":"ACK","getAllAlarmsUsingGET_searchStatusType":"str","getAllAlarmsUsingGET_status":"ACTIVE_ACK","getAllAlarmsUsingGET_statusType":"str","getAllAlarmsUsingGET_pageSize":"","getAllAlarmsUsingGET_pageSizeType":"str","getAllAlarmsUsingGET_page":"","getAllAlarmsUsingGET_pageType":"str","getAllAlarmsUsingGET_textSearch":"","getAllAlarmsUsingGET_textSearchType":"str","getAllAlarmsUsingGET_sortProperty":"ackTs","getAllAlarmsUsingGET_sortPropertyType":"str","getAllAlarmsUsingGET_sortOrder":"ASC","getAllAlarmsUsingGET_sortOrderType":"str","getAllAlarmsUsingGET_startTime":"","getAllAlarmsUsingGET_startTimeType":"str","getAllAlarmsUsingGET_endTime":"","getAllAlarmsUsingGET_endTimeType":"str","getAllAlarmsUsingGET_fetchOriginator":"","getAllAlarmsUsingGET_fetchOriginatorType":"str","saveAssetUsingPOST_body":"","saveAssetUsingPOST_bodyType":"str","processAssetsBulkImportUsingPOST_body":"","processAssetsBulkImportUsingPOST_bodyType":"str","getAssetInfoByIdUsingGET_assetId":"","getAssetInfoByIdUsingGET_assetIdType":"str","getAssetByIdUsingGET_assetId":"","getAssetByIdUsingGET_assetIdType":"str","deleteAssetUsingDELETE_assetId":"","deleteAssetUsingDELETE_assetIdType":"str","findByQueryUsingPOST_body":"","findByQueryUsingPOST_bodyType":"str","getAssetsByIdsUsingGET_assetIds":"","getAssetsByIdsUsingGET_assetIdsType":"str","unassignAssetFromCustomerUsingDELETE_assetId":"","unassignAssetFromCustomerUsingDELETE_assetIdType":"str","assignAssetToPublicCustomerUsingPOST_assetId":"","assignAssetToPublicCustomerUsingPOST_assetIdType":"str","assignAssetToCustomerUsingPOST_customerId":"","assignAssetToCustomerUsingPOST_customerIdType":"str","assignAssetToCustomerUsingPOST_assetId":"","assignAssetToCustomerUsingPOST_assetIdType":"str","getCustomerAssetInfosUsingGET_customerId":"","getCustomerAssetInfosUsingGET_customerIdType":"str","getCustomerAssetInfosUsingGET_pageSize":"","getCustomerAssetInfosUsingGET_pageSizeType":"str","getCustomerAssetInfosUsingGET_page":"","getCustomerAssetInfosUsingGET_pageType":"str","getCustomerAssetInfosUsingGET_type":"","getCustomerAssetInfosUsingGET_typeType":"str","getCustomerAssetInfosUsingGET_textSearch":"","getCustomerAssetInfosUsingGET_textSearchType":"str","getCustomerAssetInfosUsingGET_sortProperty":"createdTime","getCustomerAssetInfosUsingGET_sortPropertyType":"str","getCustomerAssetInfosUsingGET_sortOrder":"ASC","getCustomerAssetInfosUsingGET_sortOrderType":"str","getCustomerAssetsUsingGET_customerId":"","getCustomerAssetsUsingGET_customerIdType":"str","getCustomerAssetsUsingGET_pageSize":"","getCustomerAssetsUsingGET_pageSizeType":"str","getCustomerAssetsUsingGET_page":"","getCustomerAssetsUsingGET_pageType":"str","getCustomerAssetsUsingGET_type":"","getCustomerAssetsUsingGET_typeType":"str","getCustomerAssetsUsingGET_textSearch":"","getCustomerAssetsUsingGET_textSearchType":"str","getCustomerAssetsUsingGET_sortProperty":"createdTime","getCustomerAssetsUsingGET_sortPropertyType":"str","getCustomerAssetsUsingGET_sortOrder":"ASC","getCustomerAssetsUsingGET_sortOrderType":"str","assignAssetToEdgeUsingPOST_edgeId":"","assignAssetToEdgeUsingPOST_edgeIdType":"str","assignAssetToEdgeUsingPOST_assetId":"","assignAssetToEdgeUsingPOST_assetIdType":"str","unassignAssetFromEdgeUsingDELETE_edgeId":"","unassignAssetFromEdgeUsingDELETE_edgeIdType":"str","unassignAssetFromEdgeUsingDELETE_assetId":"","unassignAssetFromEdgeUsingDELETE_assetIdType":"str","getEdgeAssetsUsingGET_edgeId":"","getEdgeAssetsUsingGET_edgeIdType":"str","getEdgeAssetsUsingGET_pageSize":"","getEdgeAssetsUsingGET_pageSizeType":"str","getEdgeAssetsUsingGET_page":"","getEdgeAssetsUsingGET_pageType":"str","getEdgeAssetsUsingGET_type":"","getEdgeAssetsUsingGET_typeType":"str","getEdgeAssetsUsingGET_textSearch":"","getEdgeAssetsUsingGET_textSearchType":"str","getEdgeAssetsUsingGET_sortProperty":"createdTime","getEdgeAssetsUsingGET_sortPropertyType":"str","getEdgeAssetsUsingGET_sortOrder":"ASC","getEdgeAssetsUsingGET_sortOrderType":"str","getEdgeAssetsUsingGET_startTime":"","getEdgeAssetsUsingGET_startTimeType":"str","getEdgeAssetsUsingGET_endTime":"","getEdgeAssetsUsingGET_endTimeType":"str","getTenantAssetInfosUsingGET_pageSize":"","getTenantAssetInfosUsingGET_pageSizeType":"str","getTenantAssetInfosUsingGET_page":"","getTenantAssetInfosUsingGET_pageType":"str","getTenantAssetInfosUsingGET_type":"","getTenantAssetInfosUsingGET_typeType":"str","getTenantAssetInfosUsingGET_textSearch":"","getTenantAssetInfosUsingGET_textSearchType":"str","getTenantAssetInfosUsingGET_sortProperty":"createdTime","getTenantAssetInfosUsingGET_sortPropertyType":"str","getTenantAssetInfosUsingGET_sortOrder":"ASC","getTenantAssetInfosUsingGET_sortOrderType":"str","getTenantAssetUsingGET_assetName":"","getTenantAssetUsingGET_assetNameType":"str","getTenantAssetsUsingGET_pageSize":"","getTenantAssetsUsingGET_pageSizeType":"str","getTenantAssetsUsingGET_page":"","getTenantAssetsUsingGET_pageType":"str","getTenantAssetsUsingGET_type":"","getTenantAssetsUsingGET_typeType":"str","getTenantAssetsUsingGET_textSearch":"","getTenantAssetsUsingGET_textSearchType":"str","getTenantAssetsUsingGET_sortProperty":"createdTime","getTenantAssetsUsingGET_sortPropertyType":"str","getTenantAssetsUsingGET_sortOrder":"ASC","getTenantAssetsUsingGET_sortOrderType":"str","getAuditLogsByCustomerIdUsingGET_customerId":"","getAuditLogsByCustomerIdUsingGET_customerIdType":"str","getAuditLogsByCustomerIdUsingGET_pageSize":"","getAuditLogsByCustomerIdUsingGET_pageSizeType":"str","getAuditLogsByCustomerIdUsingGET_page":"","getAuditLogsByCustomerIdUsingGET_pageType":"str","getAuditLogsByCustomerIdUsingGET_textSearch":"","getAuditLogsByCustomerIdUsingGET_textSearchType":"str","getAuditLogsByCustomerIdUsingGET_sortProperty":"actionStatus","getAuditLogsByCustomerIdUsingGET_sortPropertyType":"str","getAuditLogsByCustomerIdUsingGET_sortOrder":"ASC","getAuditLogsByCustomerIdUsingGET_sortOrderType":"str","getAuditLogsByCustomerIdUsingGET_startTime":"","getAuditLogsByCustomerIdUsingGET_startTimeType":"str","getAuditLogsByCustomerIdUsingGET_endTime":"","getAuditLogsByCustomerIdUsingGET_endTimeType":"str","getAuditLogsByCustomerIdUsingGET_actionTypes":"","getAuditLogsByCustomerIdUsingGET_actionTypesType":"str","getAuditLogsByEntityIdUsingGET_entityType":"","getAuditLogsByEntityIdUsingGET_entityTypeType":"str","getAuditLogsByEntityIdUsingGET_entityId":"","getAuditLogsByEntityIdUsingGET_entityIdType":"str","getAuditLogsByEntityIdUsingGET_pageSize":"","getAuditLogsByEntityIdUsingGET_pageSizeType":"str","getAuditLogsByEntityIdUsingGET_page":"","getAuditLogsByEntityIdUsingGET_pageType":"str","getAuditLogsByEntityIdUsingGET_textSearch":"","getAuditLogsByEntityIdUsingGET_textSearchType":"str","getAuditLogsByEntityIdUsingGET_sortProperty":"actionStatus","getAuditLogsByEntityIdUsingGET_sortPropertyType":"str","getAuditLogsByEntityIdUsingGET_sortOrder":"ASC","getAuditLogsByEntityIdUsingGET_sortOrderType":"str","getAuditLogsByEntityIdUsingGET_startTime":"","getAuditLogsByEntityIdUsingGET_startTimeType":"str","getAuditLogsByEntityIdUsingGET_endTime":"","getAuditLogsByEntityIdUsingGET_endTimeType":"str","getAuditLogsByEntityIdUsingGET_actionTypes":"","getAuditLogsByEntityIdUsingGET_actionTypesType":"str","getAuditLogsByUserIdUsingGET_userId":"","getAuditLogsByUserIdUsingGET_userIdType":"str","getAuditLogsByUserIdUsingGET_pageSize":"","getAuditLogsByUserIdUsingGET_pageSizeType":"str","getAuditLogsByUserIdUsingGET_page":"","getAuditLogsByUserIdUsingGET_pageType":"str","getAuditLogsByUserIdUsingGET_textSearch":"","getAuditLogsByUserIdUsingGET_textSearchType":"str","getAuditLogsByUserIdUsingGET_sortProperty":"actionStatus","getAuditLogsByUserIdUsingGET_sortPropertyType":"str","getAuditLogsByUserIdUsingGET_sortOrder":"ASC","getAuditLogsByUserIdUsingGET_sortOrderType":"str","getAuditLogsByUserIdUsingGET_startTime":"","getAuditLogsByUserIdUsingGET_startTimeType":"str","getAuditLogsByUserIdUsingGET_endTime":"","getAuditLogsByUserIdUsingGET_endTimeType":"str","getAuditLogsByUserIdUsingGET_actionTypes":"","getAuditLogsByUserIdUsingGET_actionTypesType":"str","getAuditLogsUsingGET_pageSize":"","getAuditLogsUsingGET_pageSizeType":"str","getAuditLogsUsingGET_page":"","getAuditLogsUsingGET_pageType":"str","getAuditLogsUsingGET_textSearch":"","getAuditLogsUsingGET_textSearchType":"str","getAuditLogsUsingGET_sortProperty":"actionStatus","getAuditLogsUsingGET_sortPropertyType":"str","getAuditLogsUsingGET_sortOrder":"ASC","getAuditLogsUsingGET_sortOrderType":"str","getAuditLogsUsingGET_startTime":"","getAuditLogsUsingGET_startTimeType":"str","getAuditLogsUsingGET_endTime":"","getAuditLogsUsingGET_endTimeType":"str","getAuditLogsUsingGET_actionTypes":"","getAuditLogsUsingGET_actionTypesType":"str","changePasswordUsingPOST_body":"","changePasswordUsingPOST_bodyType":"str","checkActivateTokenUsingGET_activateToken":"","checkActivateTokenUsingGET_activateTokenType":"str","activateUserUsingPOST_sendActivationMail":"","activateUserUsingPOST_sendActivationMailType":"str","activateUserUsingPOST_body":"","activateUserUsingPOST_bodyType":"str","resetPasswordUsingPOST_body":"","resetPasswordUsingPOST_bodyType":"str","requestResetPasswordByEmailUsingPOST_body":"","requestResetPasswordByEmailUsingPOST_bodyType":"str","checkResetTokenUsingGET_resetToken":"","checkResetTokenUsingGET_resetTokenType":"str","getComponentDescriptorByClazzUsingGET_componentDescriptorClazz":"","getComponentDescriptorByClazzUsingGET_componentDescriptorClazzType":"str","getComponentDescriptorsByTypeUsingGET_componentType":"ACTION","getComponentDescriptorsByTypeUsingGET_componentTypeType":"str","getComponentDescriptorsByTypeUsingGET_ruleChainType":"CORE","getComponentDescriptorsByTypeUsingGET_ruleChainTypeType":"str","getComponentDescriptorsByTypesUsingGET_componentTypes":"","getComponentDescriptorsByTypesUsingGET_componentTypesType":"str","getComponentDescriptorsByTypesUsingGET_ruleChainType":"CORE","getComponentDescriptorsByTypesUsingGET_ruleChainTypeType":"str","saveCustomerUsingPOST_body":"","saveCustomerUsingPOST_bodyType":"str","getCustomerByIdUsingGET_customerId":"","getCustomerByIdUsingGET_customerIdType":"str","deleteCustomerUsingDELETE_customerId":"","deleteCustomerUsingDELETE_customerIdType":"str","getShortCustomerInfoByIdUsingGET_customerId":"","getShortCustomerInfoByIdUsingGET_customerIdType":"str","getCustomerTitleByIdUsingGET_customerId":"","getCustomerTitleByIdUsingGET_customerIdType":"str","getCustomersUsingGET_pageSize":"","getCustomersUsingGET_pageSizeType":"str","getCustomersUsingGET_page":"","getCustomersUsingGET_pageType":"str","getCustomersUsingGET_textSearch":"","getCustomersUsingGET_textSearchType":"str","getCustomersUsingGET_sortProperty":"city","getCustomersUsingGET_sortPropertyType":"str","getCustomersUsingGET_sortOrder":"ASC","getCustomersUsingGET_sortOrderType":"str","getTenantCustomerUsingGET_customerTitle":"","getTenantCustomerUsingGET_customerTitleType":"str","assignDashboardToPublicCustomerUsingPOST_dashboardId":"","assignDashboardToPublicCustomerUsingPOST_dashboardIdType":"str","unassignDashboardFromPublicCustomerUsingDELETE_dashboardId":"","unassignDashboardFromPublicCustomerUsingDELETE_dashboardIdType":"str","assignDashboardToCustomerUsingPOST_customerId":"","assignDashboardToCustomerUsingPOST_customerIdType":"str","assignDashboardToCustomerUsingPOST_dashboardId":"","assignDashboardToCustomerUsingPOST_dashboardIdType":"str","unassignDashboardFromCustomerUsingDELETE_customerId":"","unassignDashboardFromCustomerUsingDELETE_customerIdType":"str","unassignDashboardFromCustomerUsingDELETE_dashboardId":"","unassignDashboardFromCustomerUsingDELETE_dashboardIdType":"str","getCustomerDashboardsUsingGET_customerId":"","getCustomerDashboardsUsingGET_customerIdType":"str","getCustomerDashboardsUsingGET_pageSize":"","getCustomerDashboardsUsingGET_pageSizeType":"str","getCustomerDashboardsUsingGET_page":"","getCustomerDashboardsUsingGET_pageType":"str","getCustomerDashboardsUsingGET_mobile":"","getCustomerDashboardsUsingGET_mobileType":"str","getCustomerDashboardsUsingGET_textSearch":"","getCustomerDashboardsUsingGET_textSearchType":"str","getCustomerDashboardsUsingGET_sortProperty":"createdTime","getCustomerDashboardsUsingGET_sortPropertyType":"str","getCustomerDashboardsUsingGET_sortOrder":"ASC","getCustomerDashboardsUsingGET_sortOrderType":"str","saveDashboardUsingPOST_body":"","saveDashboardUsingPOST_bodyType":"str","getDashboardInfoByIdUsingGET_dashboardId":"","getDashboardInfoByIdUsingGET_dashboardIdType":"str","getDashboardByIdUsingGET_dashboardId":"","getDashboardByIdUsingGET_dashboardIdType":"str","deleteDashboardUsingDELETE_dashboardId":"","deleteDashboardUsingDELETE_dashboardIdType":"str","updateDashboardCustomersUsingPOST_dashboardId":"","updateDashboardCustomersUsingPOST_dashboardIdType":"str","updateDashboardCustomersUsingPOST_body":"","updateDashboardCustomersUsingPOST_bodyType":"str","addDashboardCustomersUsingPOST_dashboardId":"","addDashboardCustomersUsingPOST_dashboardIdType":"str","addDashboardCustomersUsingPOST_body":"","addDashboardCustomersUsingPOST_bodyType":"str","removeDashboardCustomersUsingPOST_dashboardId":"","removeDashboardCustomersUsingPOST_dashboardIdType":"str","removeDashboardCustomersUsingPOST_body":"","removeDashboardCustomersUsingPOST_bodyType":"str","assignDashboardToEdgeUsingPOST_edgeId":"","assignDashboardToEdgeUsingPOST_edgeIdType":"str","assignDashboardToEdgeUsingPOST_dashboardId":"","assignDashboardToEdgeUsingPOST_dashboardIdType":"str","unassignDashboardFromEdgeUsingDELETE_edgeId":"","unassignDashboardFromEdgeUsingDELETE_edgeIdType":"str","unassignDashboardFromEdgeUsingDELETE_dashboardId":"","unassignDashboardFromEdgeUsingDELETE_dashboardIdType":"str","getEdgeDashboardsUsingGET_edgeId":"","getEdgeDashboardsUsingGET_edgeIdType":"str","getEdgeDashboardsUsingGET_pageSize":"","getEdgeDashboardsUsingGET_pageSizeType":"str","getEdgeDashboardsUsingGET_page":"","getEdgeDashboardsUsingGET_pageType":"str","getEdgeDashboardsUsingGET_textSearch":"","getEdgeDashboardsUsingGET_textSearchType":"str","getEdgeDashboardsUsingGET_sortProperty":"createdTime","getEdgeDashboardsUsingGET_sortPropertyType":"str","getEdgeDashboardsUsingGET_sortOrder":"ASC","getEdgeDashboardsUsingGET_sortOrderType":"str","setTenantHomeDashboardInfoUsingPOST_body":"","setTenantHomeDashboardInfoUsingPOST_bodyType":"str","getTenantDashboardsUsingGET_pageSize":"","getTenantDashboardsUsingGET_pageSizeType":"str","getTenantDashboardsUsingGET_page":"","getTenantDashboardsUsingGET_pageType":"str","getTenantDashboardsUsingGET_mobile":"","getTenantDashboardsUsingGET_mobileType":"str","getTenantDashboardsUsingGET_textSearch":"","getTenantDashboardsUsingGET_textSearchType":"str","getTenantDashboardsUsingGET_sortProperty":"createdTime","getTenantDashboardsUsingGET_sortPropertyType":"str","getTenantDashboardsUsingGET_sortOrder":"ASC","getTenantDashboardsUsingGET_sortOrderType":"str","getTenantDashboardsUsingGET_1_tenantId":"","getTenantDashboardsUsingGET_1_tenantIdType":"str","getTenantDashboardsUsingGET_1_pageSize":"","getTenantDashboardsUsingGET_1_pageSizeType":"str","getTenantDashboardsUsingGET_1_page":"","getTenantDashboardsUsingGET_1_pageType":"str","getTenantDashboardsUsingGET_1_textSearch":"","getTenantDashboardsUsingGET_1_textSearchType":"str","getTenantDashboardsUsingGET_1_sortProperty":"createdTime","getTenantDashboardsUsingGET_1_sortPropertyType":"str","getTenantDashboardsUsingGET_1_sortOrder":"ASC","getTenantDashboardsUsingGET_1_sortOrderType":"str","unassignDeviceFromCustomerUsingDELETE_deviceId":"","unassignDeviceFromCustomerUsingDELETE_deviceIdType":"str","claimDeviceUsingPOST_deviceName":"","claimDeviceUsingPOST_deviceNameType":"str","claimDeviceUsingPOST_body":"","claimDeviceUsingPOST_bodyType":"str","reClaimDeviceUsingDELETE_deviceName":"","reClaimDeviceUsingDELETE_deviceNameType":"str","assignDeviceToPublicCustomerUsingPOST_deviceId":"","assignDeviceToPublicCustomerUsingPOST_deviceIdType":"str","assignDeviceToCustomerUsingPOST_customerId":"","assignDeviceToCustomerUsingPOST_customerIdType":"str","assignDeviceToCustomerUsingPOST_deviceId":"","assignDeviceToCustomerUsingPOST_deviceIdType":"str","getCustomerDeviceInfosUsingGET_customerId":"","getCustomerDeviceInfosUsingGET_customerIdType":"str","getCustomerDeviceInfosUsingGET_pageSize":"","getCustomerDeviceInfosUsingGET_pageSizeType":"str","getCustomerDeviceInfosUsingGET_page":"","getCustomerDeviceInfosUsingGET_pageType":"str","getCustomerDeviceInfosUsingGET_type":"","getCustomerDeviceInfosUsingGET_typeType":"str","getCustomerDeviceInfosUsingGET_deviceProfileId":"","getCustomerDeviceInfosUsingGET_deviceProfileIdType":"str","getCustomerDeviceInfosUsingGET_textSearch":"","getCustomerDeviceInfosUsingGET_textSearchType":"str","getCustomerDeviceInfosUsingGET_sortProperty":"createdTime","getCustomerDeviceInfosUsingGET_sortPropertyType":"str","getCustomerDeviceInfosUsingGET_sortOrder":"ASC","getCustomerDeviceInfosUsingGET_sortOrderType":"str","getCustomerDevicesUsingGET_customerId":"","getCustomerDevicesUsingGET_customerIdType":"str","getCustomerDevicesUsingGET_pageSize":"","getCustomerDevicesUsingGET_pageSizeType":"str","getCustomerDevicesUsingGET_page":"","getCustomerDevicesUsingGET_pageType":"str","getCustomerDevicesUsingGET_type":"","getCustomerDevicesUsingGET_typeType":"str","getCustomerDevicesUsingGET_textSearch":"","getCustomerDevicesUsingGET_textSearchType":"str","getCustomerDevicesUsingGET_sortProperty":"createdTime","getCustomerDevicesUsingGET_sortPropertyType":"str","getCustomerDevicesUsingGET_sortOrder":"ASC","getCustomerDevicesUsingGET_sortOrderType":"str","saveDeviceWithCredentialsUsingPOST_body":"","saveDeviceWithCredentialsUsingPOST_bodyType":"str","processDevicesBulkImportUsingPOST_body":"","processDevicesBulkImportUsingPOST_bodyType":"str","updateDeviceCredentialsUsingPOST_body":"","updateDeviceCredentialsUsingPOST_bodyType":"str","getDeviceInfoByIdUsingGET_deviceId":"","getDeviceInfoByIdUsingGET_deviceIdType":"str","getDeviceByIdUsingGET_deviceId":"","getDeviceByIdUsingGET_deviceIdType":"str","deleteDeviceUsingDELETE_deviceId":"","deleteDeviceUsingDELETE_deviceIdType":"str","getDeviceCredentialsByDeviceIdUsingGET_deviceId":"","getDeviceCredentialsByDeviceIdUsingGET_deviceIdType":"str","findByQueryUsingPOST_1_body":"","findByQueryUsingPOST_1_bodyType":"str","countByDeviceProfileAndEmptyOtaPackageUsingGET_otaPackageType":"FIRMWARE","countByDeviceProfileAndEmptyOtaPackageUsingGET_otaPackageTypeType":"str","countByDeviceProfileAndEmptyOtaPackageUsingGET_deviceProfileId":"","countByDeviceProfileAndEmptyOtaPackageUsingGET_deviceProfileIdType":"str","getDevicesByIdsUsingGET_deviceIds":"","getDevicesByIdsUsingGET_deviceIdsType":"str","saveDeviceUsingPOST_accessToken":"","saveDeviceUsingPOST_accessTokenType":"str","saveDeviceUsingPOST_body":"","saveDeviceUsingPOST_bodyType":"str","assignDeviceToEdgeUsingPOST_edgeId":"","assignDeviceToEdgeUsingPOST_edgeIdType":"str","assignDeviceToEdgeUsingPOST_deviceId":"","assignDeviceToEdgeUsingPOST_deviceIdType":"str","unassignDeviceFromEdgeUsingDELETE_edgeId":"","unassignDeviceFromEdgeUsingDELETE_edgeIdType":"str","unassignDeviceFromEdgeUsingDELETE_deviceId":"","unassignDeviceFromEdgeUsingDELETE_deviceIdType":"str","getEdgeDevicesUsingGET_edgeId":"","getEdgeDevicesUsingGET_edgeIdType":"str","getEdgeDevicesUsingGET_pageSize":"","getEdgeDevicesUsingGET_pageSizeType":"str","getEdgeDevicesUsingGET_page":"","getEdgeDevicesUsingGET_pageType":"str","getEdgeDevicesUsingGET_type":"","getEdgeDevicesUsingGET_typeType":"str","getEdgeDevicesUsingGET_textSearch":"","getEdgeDevicesUsingGET_textSearchType":"str","getEdgeDevicesUsingGET_sortProperty":"createdTime","getEdgeDevicesUsingGET_sortPropertyType":"str","getEdgeDevicesUsingGET_sortOrder":"ASC","getEdgeDevicesUsingGET_sortOrderType":"str","getEdgeDevicesUsingGET_startTime":"","getEdgeDevicesUsingGET_startTimeType":"str","getEdgeDevicesUsingGET_endTime":"","getEdgeDevicesUsingGET_endTimeType":"str","getTenantDeviceInfosUsingGET_pageSize":"","getTenantDeviceInfosUsingGET_pageSizeType":"str","getTenantDeviceInfosUsingGET_page":"","getTenantDeviceInfosUsingGET_pageType":"str","getTenantDeviceInfosUsingGET_type":"","getTenantDeviceInfosUsingGET_typeType":"str","getTenantDeviceInfosUsingGET_deviceProfileId":"","getTenantDeviceInfosUsingGET_deviceProfileIdType":"str","getTenantDeviceInfosUsingGET_textSearch":"","getTenantDeviceInfosUsingGET_textSearchType":"str","getTenantDeviceInfosUsingGET_sortProperty":"createdTime","getTenantDeviceInfosUsingGET_sortPropertyType":"str","getTenantDeviceInfosUsingGET_sortOrder":"ASC","getTenantDeviceInfosUsingGET_sortOrderType":"str","getTenantDeviceUsingGET_deviceName":"","getTenantDeviceUsingGET_deviceNameType":"str","getTenantDevicesUsingGET_pageSize":"","getTenantDevicesUsingGET_pageSizeType":"str","getTenantDevicesUsingGET_page":"","getTenantDevicesUsingGET_pageType":"str","getTenantDevicesUsingGET_type":"","getTenantDevicesUsingGET_typeType":"str","getTenantDevicesUsingGET_textSearch":"","getTenantDevicesUsingGET_textSearchType":"str","getTenantDevicesUsingGET_sortProperty":"createdTime","getTenantDevicesUsingGET_sortPropertyType":"str","getTenantDevicesUsingGET_sortOrder":"ASC","getTenantDevicesUsingGET_sortOrderType":"str","assignDeviceToTenantUsingPOST_tenantId":"","assignDeviceToTenantUsingPOST_tenantIdType":"str","assignDeviceToTenantUsingPOST_deviceId":"","assignDeviceToTenantUsingPOST_deviceIdType":"str","saveDeviceProfileUsingPOST_body":"","saveDeviceProfileUsingPOST_bodyType":"str","getAttributesKeysUsingGET_deviceProfileId":"","getAttributesKeysUsingGET_deviceProfileIdType":"str","getTimeseriesKeysUsingGET_deviceProfileId":"","getTimeseriesKeysUsingGET_deviceProfileIdType":"str","getDeviceProfileByIdUsingGET_deviceProfileId":"","getDeviceProfileByIdUsingGET_deviceProfileIdType":"str","deleteDeviceProfileUsingDELETE_deviceProfileId":"","deleteDeviceProfileUsingDELETE_deviceProfileIdType":"str","setDefaultDeviceProfileUsingPOST_deviceProfileId":"","setDefaultDeviceProfileUsingPOST_deviceProfileIdType":"str","getDeviceProfileInfoByIdUsingGET_deviceProfileId":"","getDeviceProfileInfoByIdUsingGET_deviceProfileIdType":"str","getDeviceProfileInfosUsingGET_pageSize":"","getDeviceProfileInfosUsingGET_pageSizeType":"str","getDeviceProfileInfosUsingGET_page":"","getDeviceProfileInfosUsingGET_pageType":"str","getDeviceProfileInfosUsingGET_textSearch":"","getDeviceProfileInfosUsingGET_textSearchType":"str","getDeviceProfileInfosUsingGET_sortProperty":"createdTime","getDeviceProfileInfosUsingGET_sortPropertyType":"str","getDeviceProfileInfosUsingGET_sortOrder":"ASC","getDeviceProfileInfosUsingGET_sortOrderType":"str","getDeviceProfileInfosUsingGET_transportType":"COAP","getDeviceProfileInfosUsingGET_transportTypeType":"str","getDeviceProfilesUsingGET_pageSize":"","getDeviceProfilesUsingGET_pageSizeType":"str","getDeviceProfilesUsingGET_page":"","getDeviceProfilesUsingGET_pageType":"str","getDeviceProfilesUsingGET_textSearch":"","getDeviceProfilesUsingGET_textSearchType":"str","getDeviceProfilesUsingGET_sortProperty":"createdTime","getDeviceProfilesUsingGET_sortPropertyType":"str","getDeviceProfilesUsingGET_sortOrder":"ASC","getDeviceProfilesUsingGET_sortOrderType":"str","unassignEdgeFromCustomerUsingDELETE_edgeId":"","unassignEdgeFromCustomerUsingDELETE_edgeIdType":"str","assignEdgeToPublicCustomerUsingPOST_edgeId":"","assignEdgeToPublicCustomerUsingPOST_edgeIdType":"str","assignEdgeToCustomerUsingPOST_customerId":"","assignEdgeToCustomerUsingPOST_customerIdType":"str","assignEdgeToCustomerUsingPOST_edgeId":"","assignEdgeToCustomerUsingPOST_edgeIdType":"str","getCustomerEdgeInfosUsingGET_customerId":"","getCustomerEdgeInfosUsingGET_customerIdType":"str","getCustomerEdgeInfosUsingGET_pageSize":"","getCustomerEdgeInfosUsingGET_pageSizeType":"str","getCustomerEdgeInfosUsingGET_page":"","getCustomerEdgeInfosUsingGET_pageType":"str","getCustomerEdgeInfosUsingGET_type":"","getCustomerEdgeInfosUsingGET_typeType":"str","getCustomerEdgeInfosUsingGET_textSearch":"","getCustomerEdgeInfosUsingGET_textSearchType":"str","getCustomerEdgeInfosUsingGET_sortProperty":"createdTime","getCustomerEdgeInfosUsingGET_sortPropertyType":"str","getCustomerEdgeInfosUsingGET_sortOrder":"ASC","getCustomerEdgeInfosUsingGET_sortOrderType":"str","getCustomerEdgesUsingGET_customerId":"","getCustomerEdgesUsingGET_customerIdType":"str","getCustomerEdgesUsingGET_pageSize":"","getCustomerEdgesUsingGET_pageSizeType":"str","getCustomerEdgesUsingGET_page":"","getCustomerEdgesUsingGET_pageType":"str","getCustomerEdgesUsingGET_type":"","getCustomerEdgesUsingGET_typeType":"str","getCustomerEdgesUsingGET_textSearch":"","getCustomerEdgesUsingGET_textSearchType":"str","getCustomerEdgesUsingGET_sortProperty":"createdTime","getCustomerEdgesUsingGET_sortPropertyType":"str","getCustomerEdgesUsingGET_sortOrder":"ASC","getCustomerEdgesUsingGET_sortOrderType":"str","saveEdgeUsingPOST_body":"","saveEdgeUsingPOST_bodyType":"str","processEdgesBulkImportUsingPOST_body":"","processEdgesBulkImportUsingPOST_bodyType":"str","getEdgeInfoByIdUsingGET_edgeId":"","getEdgeInfoByIdUsingGET_edgeIdType":"str","findMissingToRelatedRuleChainsUsingGET_edgeId":"","findMissingToRelatedRuleChainsUsingGET_edgeIdType":"str","syncEdgeUsingPOST_edgeId":"","syncEdgeUsingPOST_edgeIdType":"str","getEdgeByIdUsingGET_edgeId":"","getEdgeByIdUsingGET_edgeIdType":"str","deleteEdgeUsingDELETE_edgeId":"","deleteEdgeUsingDELETE_edgeIdType":"str","setEdgeRootRuleChainUsingPOST_edgeId":"","setEdgeRootRuleChainUsingPOST_edgeIdType":"str","setEdgeRootRuleChainUsingPOST_ruleChainId":"","setEdgeRootRuleChainUsingPOST_ruleChainIdType":"str","findByQueryUsingPOST_2_body":"","findByQueryUsingPOST_2_bodyType":"str","getEdgesByIdsUsingGET_edgeIds":"","getEdgesByIdsUsingGET_edgeIdsType":"str","getEdgesUsingGET_pageSize":"","getEdgesUsingGET_pageSizeType":"str","getEdgesUsingGET_page":"","getEdgesUsingGET_pageType":"str","getEdgesUsingGET_textSearch":"","getEdgesUsingGET_textSearchType":"str","getEdgesUsingGET_sortProperty":"createdTime","getEdgesUsingGET_sortPropertyType":"str","getEdgesUsingGET_sortOrder":"ASC","getEdgesUsingGET_sortOrderType":"str","activateInstanceUsingPOST_licenseSecret":"","activateInstanceUsingPOST_licenseSecretType":"str","activateInstanceUsingPOST_releaseDate":"","activateInstanceUsingPOST_releaseDateType":"str","checkInstanceUsingPOST_body":"","checkInstanceUsingPOST_bodyType":"str","getTenantEdgeInfosUsingGET_pageSize":"","getTenantEdgeInfosUsingGET_pageSizeType":"str","getTenantEdgeInfosUsingGET_page":"","getTenantEdgeInfosUsingGET_pageType":"str","getTenantEdgeInfosUsingGET_type":"","getTenantEdgeInfosUsingGET_typeType":"str","getTenantEdgeInfosUsingGET_textSearch":"","getTenantEdgeInfosUsingGET_textSearchType":"str","getTenantEdgeInfosUsingGET_sortProperty":"createdTime","getTenantEdgeInfosUsingGET_sortPropertyType":"str","getTenantEdgeInfosUsingGET_sortOrder":"ASC","getTenantEdgeInfosUsingGET_sortOrderType":"str","getTenantEdgeUsingGET_edgeName":"","getTenantEdgeUsingGET_edgeNameType":"str","getTenantEdgesUsingGET_pageSize":"","getTenantEdgesUsingGET_pageSizeType":"str","getTenantEdgesUsingGET_page":"","getTenantEdgesUsingGET_pageType":"str","getTenantEdgesUsingGET_type":"","getTenantEdgesUsingGET_typeType":"str","getTenantEdgesUsingGET_textSearch":"","getTenantEdgesUsingGET_textSearchType":"str","getTenantEdgesUsingGET_sortProperty":"createdTime","getTenantEdgesUsingGET_sortPropertyType":"str","getTenantEdgesUsingGET_sortOrder":"ASC","getTenantEdgesUsingGET_sortOrderType":"str","getEdgeEventsUsingGET_edgeId":"","getEdgeEventsUsingGET_edgeIdType":"str","getEdgeEventsUsingGET_pageSize":"","getEdgeEventsUsingGET_pageSizeType":"str","getEdgeEventsUsingGET_page":"","getEdgeEventsUsingGET_pageType":"str","getEdgeEventsUsingGET_textSearch":"","getEdgeEventsUsingGET_textSearchType":"str","getEdgeEventsUsingGET_sortProperty":"createdTime","getEdgeEventsUsingGET_sortPropertyType":"str","getEdgeEventsUsingGET_sortOrder":"ASC","getEdgeEventsUsingGET_sortOrderType":"str","getEdgeEventsUsingGET_startTime":"","getEdgeEventsUsingGET_startTimeType":"str","getEdgeEventsUsingGET_endTime":"","getEdgeEventsUsingGET_endTimeType":"str","findAlarmDataByQueryUsingPOST_body":"","findAlarmDataByQueryUsingPOST_bodyType":"str","countEntitiesByQueryUsingPOST_body":"","countEntitiesByQueryUsingPOST_bodyType":"str","findEntityDataByQueryUsingPOST_body":"","findEntityDataByQueryUsingPOST_bodyType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_timeseries":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_timeseriesType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_attributes":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_attributesType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_body":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_bodyType":"str","saveRelationUsingPOST_body":"","saveRelationUsingPOST_bodyType":"str","findByQueryUsingPOST_3_body":"","findByQueryUsingPOST_3_bodyType":"str","findInfoByQueryUsingPOST_body":"","findInfoByQueryUsingPOST_bodyType":"str","findInfoByFromUsingGET_fromId":"","findInfoByFromUsingGET_fromIdType":"str","findInfoByFromUsingGET_fromType":"","findInfoByFromUsingGET_fromTypeType":"str","findInfoByFromUsingGET_relationTypeGroup":"","findInfoByFromUsingGET_relationTypeGroupType":"str","findInfoByToUsingGET_toId":"","findInfoByToUsingGET_toIdType":"str","findInfoByToUsingGET_toType":"","findInfoByToUsingGET_toTypeType":"str","findInfoByToUsingGET_relationTypeGroup":"","findInfoByToUsingGET_relationTypeGroupType":"str","deleteRelationsUsingDELETE_entityId":"","deleteRelationsUsingDELETE_entityIdType":"str","deleteRelationsUsingDELETE_entityType":"","deleteRelationsUsingDELETE_entityTypeType":"str","findByFromUsingGET_fromId":"","findByFromUsingGET_fromIdType":"str","findByFromUsingGET_fromType":"","findByFromUsingGET_fromTypeType":"str","findByFromUsingGET_relationType":"","findByFromUsingGET_relationTypeType":"str","findByFromUsingGET_relationTypeGroup":"","findByFromUsingGET_relationTypeGroupType":"str","findByFromUsingGET_1_fromId":"","findByFromUsingGET_1_fromIdType":"str","findByFromUsingGET_1_fromType":"","findByFromUsingGET_1_fromTypeType":"str","findByFromUsingGET_1_relationTypeGroup":"","findByFromUsingGET_1_relationTypeGroupType":"str","findByToUsingGET_toId":"","findByToUsingGET_toIdType":"str","findByToUsingGET_toType":"","findByToUsingGET_toTypeType":"str","findByToUsingGET_relationType":"","findByToUsingGET_relationTypeType":"str","findByToUsingGET_relationTypeGroup":"","findByToUsingGET_relationTypeGroupType":"str","findByToUsingGET_1_toId":"","findByToUsingGET_1_toIdType":"str","findByToUsingGET_1_toType":"","findByToUsingGET_1_toTypeType":"str","findByToUsingGET_1_relationTypeGroup":"","findByToUsingGET_1_relationTypeGroupType":"str","getRelationUsingGET_fromId":"","getRelationUsingGET_fromIdType":"str","getRelationUsingGET_fromType":"","getRelationUsingGET_fromTypeType":"str","getRelationUsingGET_relationType":"","getRelationUsingGET_relationTypeType":"str","getRelationUsingGET_relationTypeGroup":"","getRelationUsingGET_relationTypeGroupType":"str","getRelationUsingGET_toId":"","getRelationUsingGET_toIdType":"str","getRelationUsingGET_toType":"","getRelationUsingGET_toTypeType":"str","deleteRelationUsingDELETE_fromId":"","deleteRelationUsingDELETE_fromIdType":"str","deleteRelationUsingDELETE_fromType":"","deleteRelationUsingDELETE_fromTypeType":"str","deleteRelationUsingDELETE_relationType":"","deleteRelationUsingDELETE_relationTypeType":"str","deleteRelationUsingDELETE_relationTypeGroup":"","deleteRelationUsingDELETE_relationTypeGroupType":"str","deleteRelationUsingDELETE_toId":"","deleteRelationUsingDELETE_toIdType":"str","deleteRelationUsingDELETE_toType":"","deleteRelationUsingDELETE_toTypeType":"str","unassignEntityViewFromCustomerUsingDELETE_entityViewId":"","unassignEntityViewFromCustomerUsingDELETE_entityViewIdType":"str","assignEntityViewToPublicCustomerUsingPOST_entityViewId":"","assignEntityViewToPublicCustomerUsingPOST_entityViewIdType":"str","assignEntityViewToCustomerUsingPOST_customerId":"","assignEntityViewToCustomerUsingPOST_customerIdType":"str","assignEntityViewToCustomerUsingPOST_entityViewId":"","assignEntityViewToCustomerUsingPOST_entityViewIdType":"str","getCustomerEntityViewInfosUsingGET_customerId":"","getCustomerEntityViewInfosUsingGET_customerIdType":"str","getCustomerEntityViewInfosUsingGET_pageSize":"","getCustomerEntityViewInfosUsingGET_pageSizeType":"str","getCustomerEntityViewInfosUsingGET_page":"","getCustomerEntityViewInfosUsingGET_pageType":"str","getCustomerEntityViewInfosUsingGET_type":"","getCustomerEntityViewInfosUsingGET_typeType":"str","getCustomerEntityViewInfosUsingGET_textSearch":"","getCustomerEntityViewInfosUsingGET_textSearchType":"str","getCustomerEntityViewInfosUsingGET_sortProperty":"createdTime","getCustomerEntityViewInfosUsingGET_sortPropertyType":"str","getCustomerEntityViewInfosUsingGET_sortOrder":"ASC","getCustomerEntityViewInfosUsingGET_sortOrderType":"str","getCustomerEntityViewsUsingGET_customerId":"","getCustomerEntityViewsUsingGET_customerIdType":"str","getCustomerEntityViewsUsingGET_pageSize":"","getCustomerEntityViewsUsingGET_pageSizeType":"str","getCustomerEntityViewsUsingGET_page":"","getCustomerEntityViewsUsingGET_pageType":"str","getCustomerEntityViewsUsingGET_type":"","getCustomerEntityViewsUsingGET_typeType":"str","getCustomerEntityViewsUsingGET_textSearch":"","getCustomerEntityViewsUsingGET_textSearchType":"str","getCustomerEntityViewsUsingGET_sortProperty":"createdTime","getCustomerEntityViewsUsingGET_sortPropertyType":"str","getCustomerEntityViewsUsingGET_sortOrder":"ASC","getCustomerEntityViewsUsingGET_sortOrderType":"str","assignEntityViewToEdgeUsingPOST_edgeId":"","assignEntityViewToEdgeUsingPOST_edgeIdType":"str","assignEntityViewToEdgeUsingPOST_entityViewId":"","assignEntityViewToEdgeUsingPOST_entityViewIdType":"str","unassignEntityViewFromEdgeUsingDELETE_edgeId":"","unassignEntityViewFromEdgeUsingDELETE_edgeIdType":"str","unassignEntityViewFromEdgeUsingDELETE_entityViewId":"","unassignEntityViewFromEdgeUsingDELETE_entityViewIdType":"str","getEdgeEntityViewsUsingGET_edgeId":"","getEdgeEntityViewsUsingGET_edgeIdType":"str","getEdgeEntityViewsUsingGET_page":"","getEdgeEntityViewsUsingGET_pageType":"str","getEdgeEntityViewsUsingGET_pageSize":"","getEdgeEntityViewsUsingGET_pageSizeType":"str","getEdgeEntityViewsUsingGET_type":"","getEdgeEntityViewsUsingGET_typeType":"str","getEdgeEntityViewsUsingGET_textSearch":"","getEdgeEntityViewsUsingGET_textSearchType":"str","getEdgeEntityViewsUsingGET_sortProperty":"","getEdgeEntityViewsUsingGET_sortPropertyType":"str","getEdgeEntityViewsUsingGET_sortOrder":"","getEdgeEntityViewsUsingGET_sortOrderType":"str","getEdgeEntityViewsUsingGET_startTime":"","getEdgeEntityViewsUsingGET_startTimeType":"str","getEdgeEntityViewsUsingGET_endTime":"","getEdgeEntityViewsUsingGET_endTimeType":"str","saveEntityViewUsingPOST_body":"","saveEntityViewUsingPOST_bodyType":"str","getEntityViewInfoByIdUsingGET_entityViewId":"","getEntityViewInfoByIdUsingGET_entityViewIdType":"str","getEntityViewByIdUsingGET_entityViewId":"","getEntityViewByIdUsingGET_entityViewIdType":"str","deleteEntityViewUsingDELETE_entityViewId":"","deleteEntityViewUsingDELETE_entityViewIdType":"str","findByQueryUsingPOST_4_body":"","findByQueryUsingPOST_4_bodyType":"str","getTenantEntityViewInfosUsingGET_pageSize":"","getTenantEntityViewInfosUsingGET_pageSizeType":"str","getTenantEntityViewInfosUsingGET_page":"","getTenantEntityViewInfosUsingGET_pageType":"str","getTenantEntityViewInfosUsingGET_type":"","getTenantEntityViewInfosUsingGET_typeType":"str","getTenantEntityViewInfosUsingGET_textSearch":"","getTenantEntityViewInfosUsingGET_textSearchType":"str","getTenantEntityViewInfosUsingGET_sortProperty":"createdTime","getTenantEntityViewInfosUsingGET_sortPropertyType":"str","getTenantEntityViewInfosUsingGET_sortOrder":"ASC","getTenantEntityViewInfosUsingGET_sortOrderType":"str","getTenantEntityViewUsingGET_entityViewName":"","getTenantEntityViewUsingGET_entityViewNameType":"str","getTenantEntityViewsUsingGET_pageSize":"","getTenantEntityViewsUsingGET_pageSizeType":"str","getTenantEntityViewsUsingGET_page":"","getTenantEntityViewsUsingGET_pageType":"str","getTenantEntityViewsUsingGET_type":"","getTenantEntityViewsUsingGET_typeType":"str","getTenantEntityViewsUsingGET_textSearch":"","getTenantEntityViewsUsingGET_textSearchType":"str","getTenantEntityViewsUsingGET_sortProperty":"createdTime","getTenantEntityViewsUsingGET_sortPropertyType":"str","getTenantEntityViewsUsingGET_sortOrder":"ASC","getTenantEntityViewsUsingGET_sortOrderType":"str","clearEventsUsingPOST_entityType":"","clearEventsUsingPOST_entityTypeType":"str","clearEventsUsingPOST_entityId":"","clearEventsUsingPOST_entityIdType":"str","clearEventsUsingPOST_startTime":"","clearEventsUsingPOST_startTimeType":"str","clearEventsUsingPOST_endTime":"","clearEventsUsingPOST_endTimeType":"str","clearEventsUsingPOST_body":"","clearEventsUsingPOST_bodyType":"str","getEventsUsingGET_1_entityType":"","getEventsUsingGET_1_entityTypeType":"str","getEventsUsingGET_1_entityId":"","getEventsUsingGET_1_entityIdType":"str","getEventsUsingGET_1_eventType":"","getEventsUsingGET_1_eventTypeType":"str","getEventsUsingGET_1_tenantId":"","getEventsUsingGET_1_tenantIdType":"str","getEventsUsingGET_1_pageSize":"","getEventsUsingGET_1_pageSizeType":"str","getEventsUsingGET_1_page":"","getEventsUsingGET_1_pageType":"str","getEventsUsingGET_1_textSearch":"","getEventsUsingGET_1_textSearchType":"str","getEventsUsingGET_1_sortProperty":"createdTime","getEventsUsingGET_1_sortPropertyType":"str","getEventsUsingGET_1_sortOrder":"ASC","getEventsUsingGET_1_sortOrderType":"str","getEventsUsingGET_1_startTime":"","getEventsUsingGET_1_startTimeType":"str","getEventsUsingGET_1_endTime":"","getEventsUsingGET_1_endTimeType":"str","getEventsUsingGET_entityType":"","getEventsUsingGET_entityTypeType":"str","getEventsUsingGET_entityId":"","getEventsUsingGET_entityIdType":"str","getEventsUsingGET_tenantId":"","getEventsUsingGET_tenantIdType":"str","getEventsUsingGET_pageSize":"","getEventsUsingGET_pageSizeType":"str","getEventsUsingGET_page":"","getEventsUsingGET_pageType":"str","getEventsUsingGET_textSearch":"","getEventsUsingGET_textSearchType":"str","getEventsUsingGET_sortProperty":"createdTime","getEventsUsingGET_sortPropertyType":"str","getEventsUsingGET_sortOrder":"ASC","getEventsUsingGET_sortOrderType":"str","getEventsUsingGET_startTime":"","getEventsUsingGET_startTimeType":"str","getEventsUsingGET_endTime":"","getEventsUsingGET_endTimeType":"str","getEventsUsingPOST_entityType":"","getEventsUsingPOST_entityTypeType":"str","getEventsUsingPOST_entityId":"","getEventsUsingPOST_entityIdType":"str","getEventsUsingPOST_tenantId":"","getEventsUsingPOST_tenantIdType":"str","getEventsUsingPOST_pageSize":"","getEventsUsingPOST_pageSizeType":"str","getEventsUsingPOST_page":"","getEventsUsingPOST_pageType":"str","getEventsUsingPOST_textSearch":"","getEventsUsingPOST_textSearchType":"str","getEventsUsingPOST_sortProperty":"createdTime","getEventsUsingPOST_sortPropertyType":"str","getEventsUsingPOST_sortOrder":"ASC","getEventsUsingPOST_sortOrderType":"str","getEventsUsingPOST_startTime":"","getEventsUsingPOST_startTimeType":"str","getEventsUsingPOST_endTime":"","getEventsUsingPOST_endTimeType":"str","getEventsUsingPOST_body":"","getEventsUsingPOST_bodyType":"str","getLwm2mBootstrapSecurityInfoUsingGET_isBootstrapServer":"","getLwm2mBootstrapSecurityInfoUsingGET_isBootstrapServerType":"str","saveClientRegistrationTemplateUsingPOST_body":"","saveClientRegistrationTemplateUsingPOST_bodyType":"str","deleteClientRegistrationTemplateUsingDELETE_clientRegistrationTemplateId":"","deleteClientRegistrationTemplateUsingDELETE_clientRegistrationTemplateIdType":"str","getOAuth2ClientsUsingPOST_pkgName":"","getOAuth2ClientsUsingPOST_pkgNameType":"str","getOAuth2ClientsUsingPOST_platform":"ANDROID","getOAuth2ClientsUsingPOST_platformType":"str","saveOAuth2InfoUsingPOST_body":"","saveOAuth2InfoUsingPOST_bodyType":"str","saveOtaPackageInfoUsingPOST_body":"","saveOtaPackageInfoUsingPOST_bodyType":"str","getOtaPackageInfoByIdUsingGET_otaPackageId":"","getOtaPackageInfoByIdUsingGET_otaPackageIdType":"str","getOtaPackageByIdUsingGET_otaPackageId":"","getOtaPackageByIdUsingGET_otaPackageIdType":"str","deleteOtaPackageUsingDELETE_otaPackageId":"","deleteOtaPackageUsingDELETE_otaPackageIdType":"str","downloadOtaPackageUsingGET_otaPackageId":"","downloadOtaPackageUsingGET_otaPackageIdType":"str","saveOtaPackageDataUsingPOST_otaPackageId":"","saveOtaPackageDataUsingPOST_otaPackageIdType":"str","saveOtaPackageDataUsingPOST_checksum":"","saveOtaPackageDataUsingPOST_checksumType":"str","saveOtaPackageDataUsingPOST_checksumAlgorithm":"CRC32","saveOtaPackageDataUsingPOST_checksumAlgorithmType":"str","saveOtaPackageDataUsingPOST_body":"","saveOtaPackageDataUsingPOST_bodyType":"str","getOtaPackagesUsingGET_1_deviceProfileId":"","getOtaPackagesUsingGET_1_deviceProfileIdType":"str","getOtaPackagesUsingGET_1_type":"FIRMWARE","getOtaPackagesUsingGET_1_typeType":"str","getOtaPackagesUsingGET_1_pageSize":"","getOtaPackagesUsingGET_1_pageSizeType":"str","getOtaPackagesUsingGET_1_page":"","getOtaPackagesUsingGET_1_pageType":"str","getOtaPackagesUsingGET_1_textSearch":"","getOtaPackagesUsingGET_1_textSearchType":"str","getOtaPackagesUsingGET_1_sortProperty":"checksum","getOtaPackagesUsingGET_1_sortPropertyType":"str","getOtaPackagesUsingGET_1_sortOrder":"ASC","getOtaPackagesUsingGET_1_sortOrderType":"str","getOtaPackagesUsingGET_pageSize":"","getOtaPackagesUsingGET_pageSizeType":"str","getOtaPackagesUsingGET_page":"","getOtaPackagesUsingGET_pageType":"str","getOtaPackagesUsingGET_textSearch":"","getOtaPackagesUsingGET_textSearchType":"str","getOtaPackagesUsingGET_sortProperty":"checksum","getOtaPackagesUsingGET_sortPropertyType":"str","getOtaPackagesUsingGET_sortOrder":"ASC","getOtaPackagesUsingGET_sortOrderType":"str","getTenantQueuesByServiceTypeUsingGET_serviceType":"JS-EXECUTOR","getTenantQueuesByServiceTypeUsingGET_serviceTypeType":"str","handleOneWayDeviceRPCRequestUsingPOST_deviceId":"","handleOneWayDeviceRPCRequestUsingPOST_deviceIdType":"str","handleOneWayDeviceRPCRequestUsingPOST_body":"","handleOneWayDeviceRPCRequestUsingPOST_bodyType":"str","handleTwoWayDeviceRPCRequestUsingPOST_deviceId":"","handleTwoWayDeviceRPCRequestUsingPOST_deviceIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_body":"","handleTwoWayDeviceRPCRequestUsingPOST_bodyType":"str","handleOneWayDeviceRPCRequestUsingPOST_1_deviceId":"","handleOneWayDeviceRPCRequestUsingPOST_1_deviceIdType":"str","handleOneWayDeviceRPCRequestUsingPOST_1_body":"","handleOneWayDeviceRPCRequestUsingPOST_1_bodyType":"str","getPersistedRpcByDeviceUsingGET_deviceId":"","getPersistedRpcByDeviceUsingGET_deviceIdType":"str","getPersistedRpcByDeviceUsingGET_pageSize":"","getPersistedRpcByDeviceUsingGET_pageSizeType":"str","getPersistedRpcByDeviceUsingGET_page":"","getPersistedRpcByDeviceUsingGET_pageType":"str","getPersistedRpcByDeviceUsingGET_rpcStatus":"DELIVERED","getPersistedRpcByDeviceUsingGET_rpcStatusType":"str","getPersistedRpcByDeviceUsingGET_textSearch":"","getPersistedRpcByDeviceUsingGET_textSearchType":"str","getPersistedRpcByDeviceUsingGET_sortProperty":"createdTime","getPersistedRpcByDeviceUsingGET_sortPropertyType":"str","getPersistedRpcByDeviceUsingGET_sortOrder":"ASC","getPersistedRpcByDeviceUsingGET_sortOrderType":"str","getPersistedRpcUsingGET_rpcId":"","getPersistedRpcUsingGET_rpcIdType":"str","deleteRpcUsingDELETE_rpcId":"","deleteRpcUsingDELETE_rpcIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_1_deviceId":"","handleTwoWayDeviceRPCRequestUsingPOST_1_deviceIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_1_body":"","handleTwoWayDeviceRPCRequestUsingPOST_1_bodyType":"str","assignRuleChainToEdgeUsingPOST_edgeId":"","assignRuleChainToEdgeUsingPOST_edgeIdType":"str","assignRuleChainToEdgeUsingPOST_ruleChainId":"","assignRuleChainToEdgeUsingPOST_ruleChainIdType":"str","unassignRuleChainFromEdgeUsingDELETE_edgeId":"","unassignRuleChainFromEdgeUsingDELETE_edgeIdType":"str","unassignRuleChainFromEdgeUsingDELETE_ruleChainId":"","unassignRuleChainFromEdgeUsingDELETE_ruleChainIdType":"str","getEdgeRuleChainsUsingGET_edgeId":"","getEdgeRuleChainsUsingGET_edgeIdType":"str","getEdgeRuleChainsUsingGET_pageSize":"","getEdgeRuleChainsUsingGET_pageSizeType":"str","getEdgeRuleChainsUsingGET_page":"","getEdgeRuleChainsUsingGET_pageType":"str","getEdgeRuleChainsUsingGET_textSearch":"","getEdgeRuleChainsUsingGET_textSearchType":"str","getEdgeRuleChainsUsingGET_sortProperty":"createdTime","getEdgeRuleChainsUsingGET_sortPropertyType":"str","getEdgeRuleChainsUsingGET_sortOrder":"ASC","getEdgeRuleChainsUsingGET_sortOrderType":"str","saveRuleChainUsingPOST_1_body":"","saveRuleChainUsingPOST_1_bodyType":"str","saveRuleChainUsingPOST_body":"","saveRuleChainUsingPOST_bodyType":"str","saveRuleChainMetaDataUsingPOST_updateRelated":"","saveRuleChainMetaDataUsingPOST_updateRelatedType":"str","saveRuleChainMetaDataUsingPOST_body":"","saveRuleChainMetaDataUsingPOST_bodyType":"str","testScriptUsingPOST_body":"","testScriptUsingPOST_bodyType":"str","getRuleChainByIdUsingGET_ruleChainId":"","getRuleChainByIdUsingGET_ruleChainIdType":"str","deleteRuleChainUsingDELETE_ruleChainId":"","deleteRuleChainUsingDELETE_ruleChainIdType":"str","setAutoAssignToEdgeRuleChainUsingPOST_ruleChainId":"","setAutoAssignToEdgeRuleChainUsingPOST_ruleChainIdType":"str","unsetAutoAssignToEdgeRuleChainUsingDELETE_ruleChainId":"","unsetAutoAssignToEdgeRuleChainUsingDELETE_ruleChainIdType":"str","setEdgeTemplateRootRuleChainUsingPOST_ruleChainId":"","setEdgeTemplateRootRuleChainUsingPOST_ruleChainIdType":"str","getRuleChainMetaDataUsingGET_ruleChainId":"","getRuleChainMetaDataUsingGET_ruleChainIdType":"str","getRuleChainOutputLabelsUsingGET_ruleChainId":"","getRuleChainOutputLabelsUsingGET_ruleChainIdType":"str","getRuleChainOutputLabelsUsageUsingGET_ruleChainId":"","getRuleChainOutputLabelsUsageUsingGET_ruleChainIdType":"str","setRootRuleChainUsingPOST_ruleChainId":"","setRootRuleChainUsingPOST_ruleChainIdType":"str","exportRuleChainsUsingGET_limit":"","exportRuleChainsUsingGET_limitType":"str","importRuleChainsUsingPOST_overwrite":"","importRuleChainsUsingPOST_overwriteType":"str","importRuleChainsUsingPOST_body":"","importRuleChainsUsingPOST_bodyType":"str","getRuleChainsUsingGET_pageSize":"","getRuleChainsUsingGET_pageSizeType":"str","getRuleChainsUsingGET_page":"","getRuleChainsUsingGET_pageType":"str","getRuleChainsUsingGET_type":"CORE","getRuleChainsUsingGET_typeType":"str","getRuleChainsUsingGET_textSearch":"","getRuleChainsUsingGET_textSearchType":"str","getRuleChainsUsingGET_sortProperty":"createdTime","getRuleChainsUsingGET_sortPropertyType":"str","getRuleChainsUsingGET_sortOrder":"ASC","getRuleChainsUsingGET_sortOrderType":"str","getLatestRuleNodeDebugInputUsingGET_ruleNodeId":"","getLatestRuleNodeDebugInputUsingGET_ruleNodeIdType":"str","activateUserByEmailCodeUsingPOST_emailCode":"","activateUserByEmailCodeUsingPOST_emailCodeType":"str","activateUserByEmailCodeUsingPOST_pkgName":"","activateUserByEmailCodeUsingPOST_pkgNameType":"str","activateEmailUsingGET_emailCode":"","activateEmailUsingGET_emailCodeType":"str","activateEmailUsingGET_pkgName":"","activateEmailUsingGET_pkgNameType":"str","mobileLoginUsingGET_pkgName":"","mobileLoginUsingGET_pkgNameType":"str","resendEmailActivationUsingPOST_email":"","resendEmailActivationUsingPOST_emailType":"str","resendEmailActivationUsingPOST_pkgName":"","resendEmailActivationUsingPOST_pkgNameType":"str","signUpUsingPOST_body":"","signUpUsingPOST_bodyType":"str","saveResourceUsingPOST_body":"","saveResourceUsingPOST_bodyType":"str","getResourceInfoByIdUsingGET_resourceId":"","getResourceInfoByIdUsingGET_resourceIdType":"str","getLwm2mListObjectsPageUsingGET_pageSize":"","getLwm2mListObjectsPageUsingGET_pageSizeType":"str","getLwm2mListObjectsPageUsingGET_page":"","getLwm2mListObjectsPageUsingGET_pageType":"str","getLwm2mListObjectsPageUsingGET_textSearch":"","getLwm2mListObjectsPageUsingGET_textSearchType":"str","getLwm2mListObjectsPageUsingGET_sortProperty":"id","getLwm2mListObjectsPageUsingGET_sortPropertyType":"str","getLwm2mListObjectsPageUsingGET_sortOrder":"ASC","getLwm2mListObjectsPageUsingGET_sortOrderType":"str","getLwm2mListObjectsUsingGET_sortOrder":"ASC","getLwm2mListObjectsUsingGET_sortOrderType":"str","getLwm2mListObjectsUsingGET_sortProperty":"id","getLwm2mListObjectsUsingGET_sortPropertyType":"str","getLwm2mListObjectsUsingGET_objectIds":"","getLwm2mListObjectsUsingGET_objectIdsType":"str","getResourceByIdUsingGET_resourceId":"","getResourceByIdUsingGET_resourceIdType":"str","deleteResourceUsingDELETE_resourceId":"","deleteResourceUsingDELETE_resourceIdType":"str","downloadResourceUsingGET_resourceId":"","downloadResourceUsingGET_resourceIdType":"str","getResourcesUsingGET_pageSize":"","getResourcesUsingGET_pageSizeType":"str","getResourcesUsingGET_page":"","getResourcesUsingGET_pageType":"str","getResourcesUsingGET_textSearch":"","getResourcesUsingGET_textSearchType":"str","getResourcesUsingGET_sortProperty":"createdTime","getResourcesUsingGET_sortPropertyType":"str","getResourcesUsingGET_sortOrder":"ASC","getResourcesUsingGET_sortOrderType":"str","saveDeviceAttributesUsingPOST_deviceId":"","saveDeviceAttributesUsingPOST_deviceIdType":"str","saveDeviceAttributesUsingPOST_scope":"CLIENT_SCOPE","saveDeviceAttributesUsingPOST_scopeType":"str","saveDeviceAttributesUsingPOST_body":"","saveDeviceAttributesUsingPOST_bodyType":"str","deleteDeviceAttributesUsingDELETE_deviceId":"","deleteDeviceAttributesUsingDELETE_deviceIdType":"str","deleteDeviceAttributesUsingDELETE_scope":"CLIENT_SCOPE","deleteDeviceAttributesUsingDELETE_scopeType":"str","deleteDeviceAttributesUsingDELETE_keys":"","deleteDeviceAttributesUsingDELETE_keysType":"str","saveEntityAttributesV2UsingPOST_entityType":"","saveEntityAttributesV2UsingPOST_entityTypeType":"str","saveEntityAttributesV2UsingPOST_entityId":"","saveEntityAttributesV2UsingPOST_entityIdType":"str","saveEntityAttributesV2UsingPOST_scope":"CLIENT_SCOPE","saveEntityAttributesV2UsingPOST_scopeType":"str","saveEntityAttributesV2UsingPOST_body":"","saveEntityAttributesV2UsingPOST_bodyType":"str","getAttributeKeysUsingGET_entityType":"","getAttributeKeysUsingGET_entityTypeType":"str","getAttributeKeysUsingGET_entityId":"","getAttributeKeysUsingGET_entityIdType":"str","getAttributeKeysByScopeUsingGET_entityType":"","getAttributeKeysByScopeUsingGET_entityTypeType":"str","getAttributeKeysByScopeUsingGET_entityId":"","getAttributeKeysByScopeUsingGET_entityIdType":"str","getAttributeKeysByScopeUsingGET_scope":"CLIENT_SCOPE","getAttributeKeysByScopeUsingGET_scopeType":"str","getTimeseriesKeysUsingGET_1_entityType":"","getTimeseriesKeysUsingGET_1_entityTypeType":"str","getTimeseriesKeysUsingGET_1_entityId":"","getTimeseriesKeysUsingGET_1_entityIdType":"str","deleteEntityTimeseriesUsingDELETE_entityType":"","deleteEntityTimeseriesUsingDELETE_entityTypeType":"str","deleteEntityTimeseriesUsingDELETE_entityId":"","deleteEntityTimeseriesUsingDELETE_entityIdType":"str","deleteEntityTimeseriesUsingDELETE_keys":"","deleteEntityTimeseriesUsingDELETE_keysType":"str","deleteEntityTimeseriesUsingDELETE_deleteAllDataForKeys":"","deleteEntityTimeseriesUsingDELETE_deleteAllDataForKeysType":"str","deleteEntityTimeseriesUsingDELETE_startTs":"","deleteEntityTimeseriesUsingDELETE_startTsType":"str","deleteEntityTimeseriesUsingDELETE_endTs":"","deleteEntityTimeseriesUsingDELETE_endTsType":"str","deleteEntityTimeseriesUsingDELETE_rewriteLatestIfDeleted":"","deleteEntityTimeseriesUsingDELETE_rewriteLatestIfDeletedType":"str","saveEntityTelemetryWithTTLUsingPOST_entityType":"","saveEntityTelemetryWithTTLUsingPOST_entityTypeType":"str","saveEntityTelemetryWithTTLUsingPOST_entityId":"","saveEntityTelemetryWithTTLUsingPOST_entityIdType":"str","saveEntityTelemetryWithTTLUsingPOST_scope":"ANY","saveEntityTelemetryWithTTLUsingPOST_scopeType":"str","saveEntityTelemetryWithTTLUsingPOST_ttl":"","saveEntityTelemetryWithTTLUsingPOST_ttlType":"str","saveEntityTelemetryWithTTLUsingPOST_body":"","saveEntityTelemetryWithTTLUsingPOST_bodyType":"str","saveEntityTelemetryUsingPOST_entityType":"","saveEntityTelemetryUsingPOST_entityTypeType":"str","saveEntityTelemetryUsingPOST_entityId":"","saveEntityTelemetryUsingPOST_entityIdType":"str","saveEntityTelemetryUsingPOST_scope":"ANY","saveEntityTelemetryUsingPOST_scopeType":"str","saveEntityTelemetryUsingPOST_body":"","saveEntityTelemetryUsingPOST_bodyType":"str","getAttributesByScopeUsingGET_entityType":"","getAttributesByScopeUsingGET_entityTypeType":"str","getAttributesByScopeUsingGET_entityId":"","getAttributesByScopeUsingGET_entityIdType":"str","getAttributesByScopeUsingGET_scope":"CLIENT_SCOPE","getAttributesByScopeUsingGET_scopeType":"str","getAttributesByScopeUsingGET_keys":"","getAttributesByScopeUsingGET_keysType":"str","getAttributesUsingGET_entityType":"","getAttributesUsingGET_entityTypeType":"str","getAttributesUsingGET_entityId":"","getAttributesUsingGET_entityIdType":"str","getAttributesUsingGET_keys":"","getAttributesUsingGET_keysType":"str","getTimeseriesUsingGET_entityType":"","getTimeseriesUsingGET_entityTypeType":"str","getTimeseriesUsingGET_entityId":"","getTimeseriesUsingGET_entityIdType":"str","getTimeseriesUsingGET_keys":"","getTimeseriesUsingGET_keysType":"str","getTimeseriesUsingGET_startTs":"","getTimeseriesUsingGET_startTsType":"str","getTimeseriesUsingGET_endTs":"","getTimeseriesUsingGET_endTsType":"str","getTimeseriesUsingGET_interval":"","getTimeseriesUsingGET_intervalType":"str","getTimeseriesUsingGET_limit":"","getTimeseriesUsingGET_limitType":"str","getTimeseriesUsingGET_agg":"AVG","getTimeseriesUsingGET_aggType":"str","getTimeseriesUsingGET_orderBy":"ASC","getTimeseriesUsingGET_orderByType":"str","getTimeseriesUsingGET_useStrictDataTypes":"","getTimeseriesUsingGET_useStrictDataTypesType":"str","getLatestTimeseriesUsingGET_entityType":"","getLatestTimeseriesUsingGET_entityTypeType":"str","getLatestTimeseriesUsingGET_entityId":"","getLatestTimeseriesUsingGET_entityIdType":"str","getLatestTimeseriesUsingGET_keys":"","getLatestTimeseriesUsingGET_keysType":"str","getLatestTimeseriesUsingGET_useStrictDataTypes":"","getLatestTimeseriesUsingGET_useStrictDataTypesType":"str","saveEntityAttributesV1UsingPOST_entityType":"","saveEntityAttributesV1UsingPOST_entityTypeType":"str","saveEntityAttributesV1UsingPOST_entityId":"","saveEntityAttributesV1UsingPOST_entityIdType":"str","saveEntityAttributesV1UsingPOST_scope":"CLIENT_SCOPE","saveEntityAttributesV1UsingPOST_scopeType":"str","saveEntityAttributesV1UsingPOST_body":"","saveEntityAttributesV1UsingPOST_bodyType":"str","deleteEntityAttributesUsingDELETE_entityType":"","deleteEntityAttributesUsingDELETE_entityTypeType":"str","deleteEntityAttributesUsingDELETE_entityId":"","deleteEntityAttributesUsingDELETE_entityIdType":"str","deleteEntityAttributesUsingDELETE_scope":"CLIENT_SCOPE","deleteEntityAttributesUsingDELETE_scopeType":"str","deleteEntityAttributesUsingDELETE_keys":"","deleteEntityAttributesUsingDELETE_keysType":"str","saveTenantUsingPOST_body":"","saveTenantUsingPOST_bodyType":"str","getTenantInfoByIdUsingGET_tenantId":"","getTenantInfoByIdUsingGET_tenantIdType":"str","getTenantByIdUsingGET_tenantId":"","getTenantByIdUsingGET_tenantIdType":"str","deleteTenantUsingDELETE_tenantId":"","deleteTenantUsingDELETE_tenantIdType":"str","getTenantInfosUsingGET_pageSize":"","getTenantInfosUsingGET_pageSizeType":"str","getTenantInfosUsingGET_page":"","getTenantInfosUsingGET_pageType":"str","getTenantInfosUsingGET_textSearch":"","getTenantInfosUsingGET_textSearchType":"str","getTenantInfosUsingGET_sortProperty":"address","getTenantInfosUsingGET_sortPropertyType":"str","getTenantInfosUsingGET_sortOrder":"ASC","getTenantInfosUsingGET_sortOrderType":"str","getTenantsUsingGET_pageSize":"","getTenantsUsingGET_pageSizeType":"str","getTenantsUsingGET_page":"","getTenantsUsingGET_pageType":"str","getTenantsUsingGET_textSearch":"","getTenantsUsingGET_textSearchType":"str","getTenantsUsingGET_sortProperty":"address","getTenantsUsingGET_sortPropertyType":"str","getTenantsUsingGET_sortOrder":"ASC","getTenantsUsingGET_sortOrderType":"str","saveTenantProfileUsingPOST_body":"","saveTenantProfileUsingPOST_bodyType":"str","getTenantProfileByIdUsingGET_tenantProfileId":"","getTenantProfileByIdUsingGET_tenantProfileIdType":"str","deleteTenantProfileUsingDELETE_tenantProfileId":"","deleteTenantProfileUsingDELETE_tenantProfileIdType":"str","setDefaultTenantProfileUsingPOST_tenantProfileId":"","setDefaultTenantProfileUsingPOST_tenantProfileIdType":"str","getTenantProfileInfoByIdUsingGET_tenantProfileId":"","getTenantProfileInfoByIdUsingGET_tenantProfileIdType":"str","getTenantProfileInfosUsingGET_pageSize":"","getTenantProfileInfosUsingGET_pageSizeType":"str","getTenantProfileInfosUsingGET_page":"","getTenantProfileInfosUsingGET_pageType":"str","getTenantProfileInfosUsingGET_textSearch":"","getTenantProfileInfosUsingGET_textSearchType":"str","getTenantProfileInfosUsingGET_sortProperty":"id","getTenantProfileInfosUsingGET_sortPropertyType":"str","getTenantProfileInfosUsingGET_sortOrder":"ASC","getTenantProfileInfosUsingGET_sortOrderType":"str","getTenantProfilesUsingGET_pageSize":"","getTenantProfilesUsingGET_pageSizeType":"str","getTenantProfilesUsingGET_page":"","getTenantProfilesUsingGET_pageType":"str","getTenantProfilesUsingGET_textSearch":"","getTenantProfilesUsingGET_textSearchType":"str","getTenantProfilesUsingGET_sortProperty":"createdTime","getTenantProfilesUsingGET_sortPropertyType":"str","getTenantProfilesUsingGET_sortOrder":"ASC","getTenantProfilesUsingGET_sortOrderType":"str","getCustomerUsersUsingGET_customerId":"","getCustomerUsersUsingGET_customerIdType":"str","getCustomerUsersUsingGET_pageSize":"","getCustomerUsersUsingGET_pageSizeType":"str","getCustomerUsersUsingGET_page":"","getCustomerUsersUsingGET_pageType":"str","getCustomerUsersUsingGET_textSearch":"","getCustomerUsersUsingGET_textSearchType":"str","getCustomerUsersUsingGET_sortProperty":"createdTime","getCustomerUsersUsingGET_sortPropertyType":"str","getCustomerUsersUsingGET_sortOrder":"ASC","getCustomerUsersUsingGET_sortOrderType":"str","getTenantAdminsUsingGET_tenantId":"","getTenantAdminsUsingGET_tenantIdType":"str","getTenantAdminsUsingGET_pageSize":"","getTenantAdminsUsingGET_pageSizeType":"str","getTenantAdminsUsingGET_page":"","getTenantAdminsUsingGET_pageType":"str","getTenantAdminsUsingGET_textSearch":"","getTenantAdminsUsingGET_textSearchType":"str","getTenantAdminsUsingGET_sortProperty":"createdTime","getTenantAdminsUsingGET_sortPropertyType":"str","getTenantAdminsUsingGET_sortOrder":"ASC","getTenantAdminsUsingGET_sortOrderType":"str","sendActivationEmailUsingPOST_email":"","sendActivationEmailUsingPOST_emailType":"str","getUserByIdUsingGET_userId":"","getUserByIdUsingGET_userIdType":"str","deleteUserUsingDELETE_userId":"","deleteUserUsingDELETE_userIdType":"str","getActivationLinkUsingGET_userId":"","getActivationLinkUsingGET_userIdType":"str","getUserTokenUsingGET_userId":"","getUserTokenUsingGET_userIdType":"str","setUserCredentialsEnabledUsingPOST_userId":"","setUserCredentialsEnabledUsingPOST_userIdType":"str","setUserCredentialsEnabledUsingPOST_userCredentialsEnabled":"","setUserCredentialsEnabledUsingPOST_userCredentialsEnabledType":"str","getUsersUsingGET_pageSize":"","getUsersUsingGET_pageSizeType":"str","getUsersUsingGET_page":"","getUsersUsingGET_pageType":"str","getUsersUsingGET_textSearch":"","getUsersUsingGET_textSearchType":"str","getUsersUsingGET_sortProperty":"createdTime","getUsersUsingGET_sortPropertyType":"str","getUsersUsingGET_sortOrder":"ASC","getUsersUsingGET_sortOrderType":"str","saveUserUsingPOST_sendActivationMail":"","saveUserUsingPOST_sendActivationMailType":"str","saveUserUsingPOST_body":"","saveUserUsingPOST_bodyType":"str","saveWidgetTypeUsingPOST_body":"","saveWidgetTypeUsingPOST_bodyType":"str","getWidgetTypeByIdUsingGET_widgetTypeId":"","getWidgetTypeByIdUsingGET_widgetTypeIdType":"str","deleteWidgetTypeUsingDELETE_widgetTypeId":"","deleteWidgetTypeUsingDELETE_widgetTypeIdType":"str","getBundleWidgetTypesDetailsUsingGET_isSystem":"","getBundleWidgetTypesDetailsUsingGET_isSystemType":"str","getBundleWidgetTypesDetailsUsingGET_bundleAlias":"","getBundleWidgetTypesDetailsUsingGET_bundleAliasType":"str","getBundleWidgetTypesInfosUsingGET_isSystem":"","getBundleWidgetTypesInfosUsingGET_isSystemType":"str","getBundleWidgetTypesInfosUsingGET_bundleAlias":"","getBundleWidgetTypesInfosUsingGET_bundleAliasType":"str","getBundleWidgetTypesUsingGET_isSystem":"","getBundleWidgetTypesUsingGET_isSystemType":"str","getBundleWidgetTypesUsingGET_bundleAlias":"","getBundleWidgetTypesUsingGET_bundleAliasType":"str","getWidgetTypeUsingGET_isSystem":"","getWidgetTypeUsingGET_isSystemType":"str","getWidgetTypeUsingGET_bundleAlias":"","getWidgetTypeUsingGET_bundleAliasType":"str","getWidgetTypeUsingGET_alias":"","getWidgetTypeUsingGET_aliasType":"str","saveWidgetsBundleUsingPOST_body":"","saveWidgetsBundleUsingPOST_bodyType":"str","getWidgetsBundleByIdUsingGET_widgetsBundleId":"","getWidgetsBundleByIdUsingGET_widgetsBundleIdType":"str","deleteWidgetsBundleUsingDELETE_widgetsBundleId":"","deleteWidgetsBundleUsingDELETE_widgetsBundleIdType":"str","getWidgetsBundlesUsingGET_1_pageSize":"","getWidgetsBundlesUsingGET_1_pageSizeType":"str","getWidgetsBundlesUsingGET_1_page":"","getWidgetsBundlesUsingGET_1_pageType":"str","getWidgetsBundlesUsingGET_1_textSearch":"","getWidgetsBundlesUsingGET_1_textSearchType":"str","getWidgetsBundlesUsingGET_1_sortProperty":"createdTime","getWidgetsBundlesUsingGET_1_sortPropertyType":"str","getWidgetsBundlesUsingGET_1_sortOrder":"ASC","getWidgetsBundlesUsingGET_1_sortOrderType":"str","name":"","x":340,"y":140,"wires":[["0e52c779f78c6eb8"]]},{"id":"cfc73f6780a2f875","type":"thingsboard-rest-api","z":"f8b3404232c6ce7e","service":"e2a17a5781eb7832","method":"getDeviceByIdUsingGET","saveSecuritySettingsUsingPOST_body":"","saveSecuritySettingsUsingPOST_bodyType":"str","saveAdminSettingsUsingPOST_body":"","saveAdminSettingsUsingPOST_bodyType":"str","sendTestMailUsingPOST_body":"","sendTestMailUsingPOST_bodyType":"str","sendTestSmsUsingPOST_body":"","sendTestSmsUsingPOST_bodyType":"str","getAdminSettingsUsingGET_key":"","getAdminSettingsUsingGET_keyType":"str","loginPost_body":"","loginPost_bodyType":"str","saveAlarmUsingPOST_body":"","saveAlarmUsingPOST_bodyType":"str","getHighestAlarmSeverityUsingGET_entityType":"","getHighestAlarmSeverityUsingGET_entityTypeType":"str","getHighestAlarmSeverityUsingGET_entityId":"","getHighestAlarmSeverityUsingGET_entityIdType":"str","getHighestAlarmSeverityUsingGET_searchStatus":"ACK","getHighestAlarmSeverityUsingGET_searchStatusType":"str","getHighestAlarmSeverityUsingGET_status":"ACTIVE_ACK","getHighestAlarmSeverityUsingGET_statusType":"str","getAlarmInfoByIdUsingGET_alarmId":"","getAlarmInfoByIdUsingGET_alarmIdType":"str","getAlarmByIdUsingGET_alarmId":"","getAlarmByIdUsingGET_alarmIdType":"str","deleteAlarmUsingDELETE_alarmId":"","deleteAlarmUsingDELETE_alarmIdType":"str","ackAlarmUsingPOST_alarmId":"","ackAlarmUsingPOST_alarmIdType":"str","clearAlarmUsingPOST_alarmId":"","clearAlarmUsingPOST_alarmIdType":"str","getAlarmsUsingGET_entityType":"","getAlarmsUsingGET_entityTypeType":"str","getAlarmsUsingGET_entityId":"","getAlarmsUsingGET_entityIdType":"str","getAlarmsUsingGET_searchStatus":"ACK","getAlarmsUsingGET_searchStatusType":"str","getAlarmsUsingGET_status":"ACTIVE_ACK","getAlarmsUsingGET_statusType":"str","getAlarmsUsingGET_pageSize":"","getAlarmsUsingGET_pageSizeType":"str","getAlarmsUsingGET_page":"","getAlarmsUsingGET_pageType":"str","getAlarmsUsingGET_textSearch":"","getAlarmsUsingGET_textSearchType":"str","getAlarmsUsingGET_sortProperty":"ackTs","getAlarmsUsingGET_sortPropertyType":"str","getAlarmsUsingGET_sortOrder":"ASC","getAlarmsUsingGET_sortOrderType":"str","getAlarmsUsingGET_startTime":"","getAlarmsUsingGET_startTimeType":"str","getAlarmsUsingGET_endTime":"","getAlarmsUsingGET_endTimeType":"str","getAlarmsUsingGET_fetchOriginator":"","getAlarmsUsingGET_fetchOriginatorType":"str","getAllAlarmsUsingGET_searchStatus":"ACK","getAllAlarmsUsingGET_searchStatusType":"str","getAllAlarmsUsingGET_status":"ACTIVE_ACK","getAllAlarmsUsingGET_statusType":"str","getAllAlarmsUsingGET_pageSize":"","getAllAlarmsUsingGET_pageSizeType":"str","getAllAlarmsUsingGET_page":"","getAllAlarmsUsingGET_pageType":"str","getAllAlarmsUsingGET_textSearch":"","getAllAlarmsUsingGET_textSearchType":"str","getAllAlarmsUsingGET_sortProperty":"ackTs","getAllAlarmsUsingGET_sortPropertyType":"str","getAllAlarmsUsingGET_sortOrder":"ASC","getAllAlarmsUsingGET_sortOrderType":"str","getAllAlarmsUsingGET_startTime":"","getAllAlarmsUsingGET_startTimeType":"str","getAllAlarmsUsingGET_endTime":"","getAllAlarmsUsingGET_endTimeType":"str","getAllAlarmsUsingGET_fetchOriginator":"","getAllAlarmsUsingGET_fetchOriginatorType":"str","saveAssetUsingPOST_body":"","saveAssetUsingPOST_bodyType":"str","processAssetsBulkImportUsingPOST_body":"","processAssetsBulkImportUsingPOST_bodyType":"str","getAssetInfoByIdUsingGET_assetId":"","getAssetInfoByIdUsingGET_assetIdType":"str","getAssetByIdUsingGET_assetId":"","getAssetByIdUsingGET_assetIdType":"str","deleteAssetUsingDELETE_assetId":"","deleteAssetUsingDELETE_assetIdType":"str","findByQueryUsingPOST_body":"","findByQueryUsingPOST_bodyType":"str","getAssetsByIdsUsingGET_assetIds":"","getAssetsByIdsUsingGET_assetIdsType":"str","unassignAssetFromCustomerUsingDELETE_assetId":"","unassignAssetFromCustomerUsingDELETE_assetIdType":"str","assignAssetToPublicCustomerUsingPOST_assetId":"","assignAssetToPublicCustomerUsingPOST_assetIdType":"str","assignAssetToCustomerUsingPOST_customerId":"","assignAssetToCustomerUsingPOST_customerIdType":"str","assignAssetToCustomerUsingPOST_assetId":"","assignAssetToCustomerUsingPOST_assetIdType":"str","getCustomerAssetInfosUsingGET_customerId":"","getCustomerAssetInfosUsingGET_customerIdType":"str","getCustomerAssetInfosUsingGET_pageSize":"","getCustomerAssetInfosUsingGET_pageSizeType":"str","getCustomerAssetInfosUsingGET_page":"","getCustomerAssetInfosUsingGET_pageType":"str","getCustomerAssetInfosUsingGET_type":"","getCustomerAssetInfosUsingGET_typeType":"str","getCustomerAssetInfosUsingGET_textSearch":"","getCustomerAssetInfosUsingGET_textSearchType":"str","getCustomerAssetInfosUsingGET_sortProperty":"createdTime","getCustomerAssetInfosUsingGET_sortPropertyType":"str","getCustomerAssetInfosUsingGET_sortOrder":"ASC","getCustomerAssetInfosUsingGET_sortOrderType":"str","getCustomerAssetsUsingGET_customerId":"","getCustomerAssetsUsingGET_customerIdType":"str","getCustomerAssetsUsingGET_pageSize":"","getCustomerAssetsUsingGET_pageSizeType":"str","getCustomerAssetsUsingGET_page":"","getCustomerAssetsUsingGET_pageType":"str","getCustomerAssetsUsingGET_type":"","getCustomerAssetsUsingGET_typeType":"str","getCustomerAssetsUsingGET_textSearch":"","getCustomerAssetsUsingGET_textSearchType":"str","getCustomerAssetsUsingGET_sortProperty":"createdTime","getCustomerAssetsUsingGET_sortPropertyType":"str","getCustomerAssetsUsingGET_sortOrder":"ASC","getCustomerAssetsUsingGET_sortOrderType":"str","assignAssetToEdgeUsingPOST_edgeId":"","assignAssetToEdgeUsingPOST_edgeIdType":"str","assignAssetToEdgeUsingPOST_assetId":"","assignAssetToEdgeUsingPOST_assetIdType":"str","unassignAssetFromEdgeUsingDELETE_edgeId":"","unassignAssetFromEdgeUsingDELETE_edgeIdType":"str","unassignAssetFromEdgeUsingDELETE_assetId":"","unassignAssetFromEdgeUsingDELETE_assetIdType":"str","getEdgeAssetsUsingGET_edgeId":"","getEdgeAssetsUsingGET_edgeIdType":"str","getEdgeAssetsUsingGET_pageSize":"","getEdgeAssetsUsingGET_pageSizeType":"str","getEdgeAssetsUsingGET_page":"","getEdgeAssetsUsingGET_pageType":"str","getEdgeAssetsUsingGET_type":"","getEdgeAssetsUsingGET_typeType":"str","getEdgeAssetsUsingGET_textSearch":"","getEdgeAssetsUsingGET_textSearchType":"str","getEdgeAssetsUsingGET_sortProperty":"createdTime","getEdgeAssetsUsingGET_sortPropertyType":"str","getEdgeAssetsUsingGET_sortOrder":"ASC","getEdgeAssetsUsingGET_sortOrderType":"str","getEdgeAssetsUsingGET_startTime":"","getEdgeAssetsUsingGET_startTimeType":"str","getEdgeAssetsUsingGET_endTime":"","getEdgeAssetsUsingGET_endTimeType":"str","getTenantAssetInfosUsingGET_pageSize":"","getTenantAssetInfosUsingGET_pageSizeType":"str","getTenantAssetInfosUsingGET_page":"","getTenantAssetInfosUsingGET_pageType":"str","getTenantAssetInfosUsingGET_type":"","getTenantAssetInfosUsingGET_typeType":"str","getTenantAssetInfosUsingGET_textSearch":"","getTenantAssetInfosUsingGET_textSearchType":"str","getTenantAssetInfosUsingGET_sortProperty":"createdTime","getTenantAssetInfosUsingGET_sortPropertyType":"str","getTenantAssetInfosUsingGET_sortOrder":"ASC","getTenantAssetInfosUsingGET_sortOrderType":"str","getTenantAssetUsingGET_assetName":"","getTenantAssetUsingGET_assetNameType":"str","getTenantAssetsUsingGET_pageSize":"","getTenantAssetsUsingGET_pageSizeType":"str","getTenantAssetsUsingGET_page":"","getTenantAssetsUsingGET_pageType":"str","getTenantAssetsUsingGET_type":"","getTenantAssetsUsingGET_typeType":"str","getTenantAssetsUsingGET_textSearch":"","getTenantAssetsUsingGET_textSearchType":"str","getTenantAssetsUsingGET_sortProperty":"createdTime","getTenantAssetsUsingGET_sortPropertyType":"str","getTenantAssetsUsingGET_sortOrder":"ASC","getTenantAssetsUsingGET_sortOrderType":"str","getAuditLogsByCustomerIdUsingGET_customerId":"","getAuditLogsByCustomerIdUsingGET_customerIdType":"str","getAuditLogsByCustomerIdUsingGET_pageSize":"","getAuditLogsByCustomerIdUsingGET_pageSizeType":"str","getAuditLogsByCustomerIdUsingGET_page":"","getAuditLogsByCustomerIdUsingGET_pageType":"str","getAuditLogsByCustomerIdUsingGET_textSearch":"","getAuditLogsByCustomerIdUsingGET_textSearchType":"str","getAuditLogsByCustomerIdUsingGET_sortProperty":"actionStatus","getAuditLogsByCustomerIdUsingGET_sortPropertyType":"str","getAuditLogsByCustomerIdUsingGET_sortOrder":"ASC","getAuditLogsByCustomerIdUsingGET_sortOrderType":"str","getAuditLogsByCustomerIdUsingGET_startTime":"","getAuditLogsByCustomerIdUsingGET_startTimeType":"str","getAuditLogsByCustomerIdUsingGET_endTime":"","getAuditLogsByCustomerIdUsingGET_endTimeType":"str","getAuditLogsByCustomerIdUsingGET_actionTypes":"","getAuditLogsByCustomerIdUsingGET_actionTypesType":"str","getAuditLogsByEntityIdUsingGET_entityType":"","getAuditLogsByEntityIdUsingGET_entityTypeType":"str","getAuditLogsByEntityIdUsingGET_entityId":"","getAuditLogsByEntityIdUsingGET_entityIdType":"str","getAuditLogsByEntityIdUsingGET_pageSize":"","getAuditLogsByEntityIdUsingGET_pageSizeType":"str","getAuditLogsByEntityIdUsingGET_page":"","getAuditLogsByEntityIdUsingGET_pageType":"str","getAuditLogsByEntityIdUsingGET_textSearch":"","getAuditLogsByEntityIdUsingGET_textSearchType":"str","getAuditLogsByEntityIdUsingGET_sortProperty":"actionStatus","getAuditLogsByEntityIdUsingGET_sortPropertyType":"str","getAuditLogsByEntityIdUsingGET_sortOrder":"ASC","getAuditLogsByEntityIdUsingGET_sortOrderType":"str","getAuditLogsByEntityIdUsingGET_startTime":"","getAuditLogsByEntityIdUsingGET_startTimeType":"str","getAuditLogsByEntityIdUsingGET_endTime":"","getAuditLogsByEntityIdUsingGET_endTimeType":"str","getAuditLogsByEntityIdUsingGET_actionTypes":"","getAuditLogsByEntityIdUsingGET_actionTypesType":"str","getAuditLogsByUserIdUsingGET_userId":"","getAuditLogsByUserIdUsingGET_userIdType":"str","getAuditLogsByUserIdUsingGET_pageSize":"","getAuditLogsByUserIdUsingGET_pageSizeType":"str","getAuditLogsByUserIdUsingGET_page":"","getAuditLogsByUserIdUsingGET_pageType":"str","getAuditLogsByUserIdUsingGET_textSearch":"","getAuditLogsByUserIdUsingGET_textSearchType":"str","getAuditLogsByUserIdUsingGET_sortProperty":"actionStatus","getAuditLogsByUserIdUsingGET_sortPropertyType":"str","getAuditLogsByUserIdUsingGET_sortOrder":"ASC","getAuditLogsByUserIdUsingGET_sortOrderType":"str","getAuditLogsByUserIdUsingGET_startTime":"","getAuditLogsByUserIdUsingGET_startTimeType":"str","getAuditLogsByUserIdUsingGET_endTime":"","getAuditLogsByUserIdUsingGET_endTimeType":"str","getAuditLogsByUserIdUsingGET_actionTypes":"","getAuditLogsByUserIdUsingGET_actionTypesType":"str","getAuditLogsUsingGET_pageSize":"","getAuditLogsUsingGET_pageSizeType":"str","getAuditLogsUsingGET_page":"","getAuditLogsUsingGET_pageType":"str","getAuditLogsUsingGET_textSearch":"","getAuditLogsUsingGET_textSearchType":"str","getAuditLogsUsingGET_sortProperty":"actionStatus","getAuditLogsUsingGET_sortPropertyType":"str","getAuditLogsUsingGET_sortOrder":"ASC","getAuditLogsUsingGET_sortOrderType":"str","getAuditLogsUsingGET_startTime":"","getAuditLogsUsingGET_startTimeType":"str","getAuditLogsUsingGET_endTime":"","getAuditLogsUsingGET_endTimeType":"str","getAuditLogsUsingGET_actionTypes":"","getAuditLogsUsingGET_actionTypesType":"str","changePasswordUsingPOST_body":"","changePasswordUsingPOST_bodyType":"str","checkActivateTokenUsingGET_activateToken":"","checkActivateTokenUsingGET_activateTokenType":"str","activateUserUsingPOST_sendActivationMail":"","activateUserUsingPOST_sendActivationMailType":"str","activateUserUsingPOST_body":"","activateUserUsingPOST_bodyType":"str","resetPasswordUsingPOST_body":"","resetPasswordUsingPOST_bodyType":"str","requestResetPasswordByEmailUsingPOST_body":"","requestResetPasswordByEmailUsingPOST_bodyType":"str","checkResetTokenUsingGET_resetToken":"","checkResetTokenUsingGET_resetTokenType":"str","getComponentDescriptorByClazzUsingGET_componentDescriptorClazz":"","getComponentDescriptorByClazzUsingGET_componentDescriptorClazzType":"str","getComponentDescriptorsByTypeUsingGET_componentType":"ACTION","getComponentDescriptorsByTypeUsingGET_componentTypeType":"str","getComponentDescriptorsByTypeUsingGET_ruleChainType":"CORE","getComponentDescriptorsByTypeUsingGET_ruleChainTypeType":"str","getComponentDescriptorsByTypesUsingGET_componentTypes":"","getComponentDescriptorsByTypesUsingGET_componentTypesType":"str","getComponentDescriptorsByTypesUsingGET_ruleChainType":"CORE","getComponentDescriptorsByTypesUsingGET_ruleChainTypeType":"str","saveCustomerUsingPOST_body":"","saveCustomerUsingPOST_bodyType":"str","getCustomerByIdUsingGET_customerId":"","getCustomerByIdUsingGET_customerIdType":"str","deleteCustomerUsingDELETE_customerId":"","deleteCustomerUsingDELETE_customerIdType":"str","getShortCustomerInfoByIdUsingGET_customerId":"","getShortCustomerInfoByIdUsingGET_customerIdType":"str","getCustomerTitleByIdUsingGET_customerId":"","getCustomerTitleByIdUsingGET_customerIdType":"str","getCustomersUsingGET_pageSize":"","getCustomersUsingGET_pageSizeType":"str","getCustomersUsingGET_page":"","getCustomersUsingGET_pageType":"str","getCustomersUsingGET_textSearch":"","getCustomersUsingGET_textSearchType":"str","getCustomersUsingGET_sortProperty":"city","getCustomersUsingGET_sortPropertyType":"str","getCustomersUsingGET_sortOrder":"ASC","getCustomersUsingGET_sortOrderType":"str","getTenantCustomerUsingGET_customerTitle":"","getTenantCustomerUsingGET_customerTitleType":"str","assignDashboardToPublicCustomerUsingPOST_dashboardId":"","assignDashboardToPublicCustomerUsingPOST_dashboardIdType":"str","unassignDashboardFromPublicCustomerUsingDELETE_dashboardId":"","unassignDashboardFromPublicCustomerUsingDELETE_dashboardIdType":"str","assignDashboardToCustomerUsingPOST_customerId":"","assignDashboardToCustomerUsingPOST_customerIdType":"str","assignDashboardToCustomerUsingPOST_dashboardId":"","assignDashboardToCustomerUsingPOST_dashboardIdType":"str","unassignDashboardFromCustomerUsingDELETE_customerId":"","unassignDashboardFromCustomerUsingDELETE_customerIdType":"str","unassignDashboardFromCustomerUsingDELETE_dashboardId":"","unassignDashboardFromCustomerUsingDELETE_dashboardIdType":"str","getCustomerDashboardsUsingGET_customerId":"","getCustomerDashboardsUsingGET_customerIdType":"str","getCustomerDashboardsUsingGET_pageSize":"","getCustomerDashboardsUsingGET_pageSizeType":"str","getCustomerDashboardsUsingGET_page":"","getCustomerDashboardsUsingGET_pageType":"str","getCustomerDashboardsUsingGET_mobile":"","getCustomerDashboardsUsingGET_mobileType":"str","getCustomerDashboardsUsingGET_textSearch":"","getCustomerDashboardsUsingGET_textSearchType":"str","getCustomerDashboardsUsingGET_sortProperty":"createdTime","getCustomerDashboardsUsingGET_sortPropertyType":"str","getCustomerDashboardsUsingGET_sortOrder":"ASC","getCustomerDashboardsUsingGET_sortOrderType":"str","saveDashboardUsingPOST_body":"","saveDashboardUsingPOST_bodyType":"str","getDashboardInfoByIdUsingGET_dashboardId":"","getDashboardInfoByIdUsingGET_dashboardIdType":"str","getDashboardByIdUsingGET_dashboardId":"","getDashboardByIdUsingGET_dashboardIdType":"str","deleteDashboardUsingDELETE_dashboardId":"","deleteDashboardUsingDELETE_dashboardIdType":"str","updateDashboardCustomersUsingPOST_dashboardId":"","updateDashboardCustomersUsingPOST_dashboardIdType":"str","updateDashboardCustomersUsingPOST_body":"","updateDashboardCustomersUsingPOST_bodyType":"str","addDashboardCustomersUsingPOST_dashboardId":"","addDashboardCustomersUsingPOST_dashboardIdType":"str","addDashboardCustomersUsingPOST_body":"","addDashboardCustomersUsingPOST_bodyType":"str","removeDashboardCustomersUsingPOST_dashboardId":"","removeDashboardCustomersUsingPOST_dashboardIdType":"str","removeDashboardCustomersUsingPOST_body":"","removeDashboardCustomersUsingPOST_bodyType":"str","assignDashboardToEdgeUsingPOST_edgeId":"","assignDashboardToEdgeUsingPOST_edgeIdType":"str","assignDashboardToEdgeUsingPOST_dashboardId":"","assignDashboardToEdgeUsingPOST_dashboardIdType":"str","unassignDashboardFromEdgeUsingDELETE_edgeId":"","unassignDashboardFromEdgeUsingDELETE_edgeIdType":"str","unassignDashboardFromEdgeUsingDELETE_dashboardId":"","unassignDashboardFromEdgeUsingDELETE_dashboardIdType":"str","getEdgeDashboardsUsingGET_edgeId":"","getEdgeDashboardsUsingGET_edgeIdType":"str","getEdgeDashboardsUsingGET_pageSize":"","getEdgeDashboardsUsingGET_pageSizeType":"str","getEdgeDashboardsUsingGET_page":"","getEdgeDashboardsUsingGET_pageType":"str","getEdgeDashboardsUsingGET_textSearch":"","getEdgeDashboardsUsingGET_textSearchType":"str","getEdgeDashboardsUsingGET_sortProperty":"createdTime","getEdgeDashboardsUsingGET_sortPropertyType":"str","getEdgeDashboardsUsingGET_sortOrder":"ASC","getEdgeDashboardsUsingGET_sortOrderType":"str","setTenantHomeDashboardInfoUsingPOST_body":"","setTenantHomeDashboardInfoUsingPOST_bodyType":"str","getTenantDashboardsUsingGET_pageSize":"","getTenantDashboardsUsingGET_pageSizeType":"str","getTenantDashboardsUsingGET_page":"","getTenantDashboardsUsingGET_pageType":"str","getTenantDashboardsUsingGET_mobile":"","getTenantDashboardsUsingGET_mobileType":"str","getTenantDashboardsUsingGET_textSearch":"","getTenantDashboardsUsingGET_textSearchType":"str","getTenantDashboardsUsingGET_sortProperty":"createdTime","getTenantDashboardsUsingGET_sortPropertyType":"str","getTenantDashboardsUsingGET_sortOrder":"ASC","getTenantDashboardsUsingGET_sortOrderType":"str","getTenantDashboardsUsingGET_1_tenantId":"","getTenantDashboardsUsingGET_1_tenantIdType":"str","getTenantDashboardsUsingGET_1_pageSize":"","getTenantDashboardsUsingGET_1_pageSizeType":"str","getTenantDashboardsUsingGET_1_page":"","getTenantDashboardsUsingGET_1_pageType":"str","getTenantDashboardsUsingGET_1_textSearch":"","getTenantDashboardsUsingGET_1_textSearchType":"str","getTenantDashboardsUsingGET_1_sortProperty":"createdTime","getTenantDashboardsUsingGET_1_sortPropertyType":"str","getTenantDashboardsUsingGET_1_sortOrder":"ASC","getTenantDashboardsUsingGET_1_sortOrderType":"str","unassignDeviceFromCustomerUsingDELETE_deviceId":"","unassignDeviceFromCustomerUsingDELETE_deviceIdType":"str","claimDeviceUsingPOST_deviceName":"","claimDeviceUsingPOST_deviceNameType":"str","claimDeviceUsingPOST_body":"","claimDeviceUsingPOST_bodyType":"str","reClaimDeviceUsingDELETE_deviceName":"","reClaimDeviceUsingDELETE_deviceNameType":"str","assignDeviceToPublicCustomerUsingPOST_deviceId":"","assignDeviceToPublicCustomerUsingPOST_deviceIdType":"str","assignDeviceToCustomerUsingPOST_customerId":"","assignDeviceToCustomerUsingPOST_customerIdType":"str","assignDeviceToCustomerUsingPOST_deviceId":"","assignDeviceToCustomerUsingPOST_deviceIdType":"str","getCustomerDeviceInfosUsingGET_customerId":"","getCustomerDeviceInfosUsingGET_customerIdType":"str","getCustomerDeviceInfosUsingGET_pageSize":"","getCustomerDeviceInfosUsingGET_pageSizeType":"str","getCustomerDeviceInfosUsingGET_page":"","getCustomerDeviceInfosUsingGET_pageType":"str","getCustomerDeviceInfosUsingGET_type":"","getCustomerDeviceInfosUsingGET_typeType":"str","getCustomerDeviceInfosUsingGET_deviceProfileId":"","getCustomerDeviceInfosUsingGET_deviceProfileIdType":"str","getCustomerDeviceInfosUsingGET_textSearch":"","getCustomerDeviceInfosUsingGET_textSearchType":"str","getCustomerDeviceInfosUsingGET_sortProperty":"createdTime","getCustomerDeviceInfosUsingGET_sortPropertyType":"str","getCustomerDeviceInfosUsingGET_sortOrder":"ASC","getCustomerDeviceInfosUsingGET_sortOrderType":"str","getCustomerDevicesUsingGET_customerId":"","getCustomerDevicesUsingGET_customerIdType":"str","getCustomerDevicesUsingGET_pageSize":"","getCustomerDevicesUsingGET_pageSizeType":"str","getCustomerDevicesUsingGET_page":"","getCustomerDevicesUsingGET_pageType":"str","getCustomerDevicesUsingGET_type":"","getCustomerDevicesUsingGET_typeType":"str","getCustomerDevicesUsingGET_textSearch":"","getCustomerDevicesUsingGET_textSearchType":"str","getCustomerDevicesUsingGET_sortProperty":"createdTime","getCustomerDevicesUsingGET_sortPropertyType":"str","getCustomerDevicesUsingGET_sortOrder":"ASC","getCustomerDevicesUsingGET_sortOrderType":"str","saveDeviceWithCredentialsUsingPOST_body":"","saveDeviceWithCredentialsUsingPOST_bodyType":"str","processDevicesBulkImportUsingPOST_body":"","processDevicesBulkImportUsingPOST_bodyType":"str","updateDeviceCredentialsUsingPOST_body":"","updateDeviceCredentialsUsingPOST_bodyType":"str","getDeviceInfoByIdUsingGET_deviceId":"","getDeviceInfoByIdUsingGET_deviceIdType":"str","getDeviceByIdUsingGET_deviceId":"d1783e20-00d2-11e7-90f0-bb0136cc33d0","getDeviceByIdUsingGET_deviceIdType":"str","deleteDeviceUsingDELETE_deviceId":"","deleteDeviceUsingDELETE_deviceIdType":"str","getDeviceCredentialsByDeviceIdUsingGET_deviceId":"","getDeviceCredentialsByDeviceIdUsingGET_deviceIdType":"str","findByQueryUsingPOST_1_body":"","findByQueryUsingPOST_1_bodyType":"str","countByDeviceProfileAndEmptyOtaPackageUsingGET_otaPackageType":"FIRMWARE","countByDeviceProfileAndEmptyOtaPackageUsingGET_otaPackageTypeType":"str","countByDeviceProfileAndEmptyOtaPackageUsingGET_deviceProfileId":"","countByDeviceProfileAndEmptyOtaPackageUsingGET_deviceProfileIdType":"str","getDevicesByIdsUsingGET_deviceIds":"","getDevicesByIdsUsingGET_deviceIdsType":"str","saveDeviceUsingPOST_accessToken":"","saveDeviceUsingPOST_accessTokenType":"str","saveDeviceUsingPOST_body":"","saveDeviceUsingPOST_bodyType":"str","assignDeviceToEdgeUsingPOST_edgeId":"","assignDeviceToEdgeUsingPOST_edgeIdType":"str","assignDeviceToEdgeUsingPOST_deviceId":"","assignDeviceToEdgeUsingPOST_deviceIdType":"str","unassignDeviceFromEdgeUsingDELETE_edgeId":"","unassignDeviceFromEdgeUsingDELETE_edgeIdType":"str","unassignDeviceFromEdgeUsingDELETE_deviceId":"","unassignDeviceFromEdgeUsingDELETE_deviceIdType":"str","getEdgeDevicesUsingGET_edgeId":"","getEdgeDevicesUsingGET_edgeIdType":"str","getEdgeDevicesUsingGET_pageSize":"","getEdgeDevicesUsingGET_pageSizeType":"str","getEdgeDevicesUsingGET_page":"","getEdgeDevicesUsingGET_pageType":"str","getEdgeDevicesUsingGET_type":"","getEdgeDevicesUsingGET_typeType":"str","getEdgeDevicesUsingGET_textSearch":"","getEdgeDevicesUsingGET_textSearchType":"str","getEdgeDevicesUsingGET_sortProperty":"createdTime","getEdgeDevicesUsingGET_sortPropertyType":"str","getEdgeDevicesUsingGET_sortOrder":"ASC","getEdgeDevicesUsingGET_sortOrderType":"str","getEdgeDevicesUsingGET_startTime":"","getEdgeDevicesUsingGET_startTimeType":"str","getEdgeDevicesUsingGET_endTime":"","getEdgeDevicesUsingGET_endTimeType":"str","getTenantDeviceInfosUsingGET_pageSize":"","getTenantDeviceInfosUsingGET_pageSizeType":"str","getTenantDeviceInfosUsingGET_page":"","getTenantDeviceInfosUsingGET_pageType":"str","getTenantDeviceInfosUsingGET_type":"","getTenantDeviceInfosUsingGET_typeType":"str","getTenantDeviceInfosUsingGET_deviceProfileId":"","getTenantDeviceInfosUsingGET_deviceProfileIdType":"str","getTenantDeviceInfosUsingGET_textSearch":"","getTenantDeviceInfosUsingGET_textSearchType":"str","getTenantDeviceInfosUsingGET_sortProperty":"createdTime","getTenantDeviceInfosUsingGET_sortPropertyType":"str","getTenantDeviceInfosUsingGET_sortOrder":"ASC","getTenantDeviceInfosUsingGET_sortOrderType":"str","getTenantDeviceUsingGET_deviceName":"","getTenantDeviceUsingGET_deviceNameType":"str","getTenantDevicesUsingGET_pageSize":"","getTenantDevicesUsingGET_pageSizeType":"str","getTenantDevicesUsingGET_page":"","getTenantDevicesUsingGET_pageType":"str","getTenantDevicesUsingGET_type":"","getTenantDevicesUsingGET_typeType":"str","getTenantDevicesUsingGET_textSearch":"","getTenantDevicesUsingGET_textSearchType":"str","getTenantDevicesUsingGET_sortProperty":"createdTime","getTenantDevicesUsingGET_sortPropertyType":"str","getTenantDevicesUsingGET_sortOrder":"ASC","getTenantDevicesUsingGET_sortOrderType":"str","assignDeviceToTenantUsingPOST_tenantId":"","assignDeviceToTenantUsingPOST_tenantIdType":"str","assignDeviceToTenantUsingPOST_deviceId":"","assignDeviceToTenantUsingPOST_deviceIdType":"str","saveDeviceProfileUsingPOST_body":"","saveDeviceProfileUsingPOST_bodyType":"str","getAttributesKeysUsingGET_deviceProfileId":"","getAttributesKeysUsingGET_deviceProfileIdType":"str","getTimeseriesKeysUsingGET_deviceProfileId":"","getTimeseriesKeysUsingGET_deviceProfileIdType":"str","getDeviceProfileByIdUsingGET_deviceProfileId":"","getDeviceProfileByIdUsingGET_deviceProfileIdType":"str","deleteDeviceProfileUsingDELETE_deviceProfileId":"","deleteDeviceProfileUsingDELETE_deviceProfileIdType":"str","setDefaultDeviceProfileUsingPOST_deviceProfileId":"","setDefaultDeviceProfileUsingPOST_deviceProfileIdType":"str","getDeviceProfileInfoByIdUsingGET_deviceProfileId":"","getDeviceProfileInfoByIdUsingGET_deviceProfileIdType":"str","getDeviceProfileInfosUsingGET_pageSize":"","getDeviceProfileInfosUsingGET_pageSizeType":"str","getDeviceProfileInfosUsingGET_page":"","getDeviceProfileInfosUsingGET_pageType":"str","getDeviceProfileInfosUsingGET_textSearch":"","getDeviceProfileInfosUsingGET_textSearchType":"str","getDeviceProfileInfosUsingGET_sortProperty":"createdTime","getDeviceProfileInfosUsingGET_sortPropertyType":"str","getDeviceProfileInfosUsingGET_sortOrder":"ASC","getDeviceProfileInfosUsingGET_sortOrderType":"str","getDeviceProfileInfosUsingGET_transportType":"COAP","getDeviceProfileInfosUsingGET_transportTypeType":"str","getDeviceProfilesUsingGET_pageSize":"","getDeviceProfilesUsingGET_pageSizeType":"str","getDeviceProfilesUsingGET_page":"","getDeviceProfilesUsingGET_pageType":"str","getDeviceProfilesUsingGET_textSearch":"","getDeviceProfilesUsingGET_textSearchType":"str","getDeviceProfilesUsingGET_sortProperty":"createdTime","getDeviceProfilesUsingGET_sortPropertyType":"str","getDeviceProfilesUsingGET_sortOrder":"ASC","getDeviceProfilesUsingGET_sortOrderType":"str","unassignEdgeFromCustomerUsingDELETE_edgeId":"","unassignEdgeFromCustomerUsingDELETE_edgeIdType":"str","assignEdgeToPublicCustomerUsingPOST_edgeId":"","assignEdgeToPublicCustomerUsingPOST_edgeIdType":"str","assignEdgeToCustomerUsingPOST_customerId":"","assignEdgeToCustomerUsingPOST_customerIdType":"str","assignEdgeToCustomerUsingPOST_edgeId":"","assignEdgeToCustomerUsingPOST_edgeIdType":"str","getCustomerEdgeInfosUsingGET_customerId":"","getCustomerEdgeInfosUsingGET_customerIdType":"str","getCustomerEdgeInfosUsingGET_pageSize":"","getCustomerEdgeInfosUsingGET_pageSizeType":"str","getCustomerEdgeInfosUsingGET_page":"","getCustomerEdgeInfosUsingGET_pageType":"str","getCustomerEdgeInfosUsingGET_type":"","getCustomerEdgeInfosUsingGET_typeType":"str","getCustomerEdgeInfosUsingGET_textSearch":"","getCustomerEdgeInfosUsingGET_textSearchType":"str","getCustomerEdgeInfosUsingGET_sortProperty":"createdTime","getCustomerEdgeInfosUsingGET_sortPropertyType":"str","getCustomerEdgeInfosUsingGET_sortOrder":"ASC","getCustomerEdgeInfosUsingGET_sortOrderType":"str","getCustomerEdgesUsingGET_customerId":"","getCustomerEdgesUsingGET_customerIdType":"str","getCustomerEdgesUsingGET_pageSize":"","getCustomerEdgesUsingGET_pageSizeType":"str","getCustomerEdgesUsingGET_page":"","getCustomerEdgesUsingGET_pageType":"str","getCustomerEdgesUsingGET_type":"","getCustomerEdgesUsingGET_typeType":"str","getCustomerEdgesUsingGET_textSearch":"","getCustomerEdgesUsingGET_textSearchType":"str","getCustomerEdgesUsingGET_sortProperty":"createdTime","getCustomerEdgesUsingGET_sortPropertyType":"str","getCustomerEdgesUsingGET_sortOrder":"ASC","getCustomerEdgesUsingGET_sortOrderType":"str","saveEdgeUsingPOST_body":"","saveEdgeUsingPOST_bodyType":"str","processEdgesBulkImportUsingPOST_body":"","processEdgesBulkImportUsingPOST_bodyType":"str","getEdgeInfoByIdUsingGET_edgeId":"","getEdgeInfoByIdUsingGET_edgeIdType":"str","findMissingToRelatedRuleChainsUsingGET_edgeId":"","findMissingToRelatedRuleChainsUsingGET_edgeIdType":"str","syncEdgeUsingPOST_edgeId":"","syncEdgeUsingPOST_edgeIdType":"str","getEdgeByIdUsingGET_edgeId":"","getEdgeByIdUsingGET_edgeIdType":"str","deleteEdgeUsingDELETE_edgeId":"","deleteEdgeUsingDELETE_edgeIdType":"str","setEdgeRootRuleChainUsingPOST_edgeId":"","setEdgeRootRuleChainUsingPOST_edgeIdType":"str","setEdgeRootRuleChainUsingPOST_ruleChainId":"","setEdgeRootRuleChainUsingPOST_ruleChainIdType":"str","findByQueryUsingPOST_2_body":"","findByQueryUsingPOST_2_bodyType":"str","getEdgesByIdsUsingGET_edgeIds":"","getEdgesByIdsUsingGET_edgeIdsType":"str","getEdgesUsingGET_pageSize":"","getEdgesUsingGET_pageSizeType":"str","getEdgesUsingGET_page":"","getEdgesUsingGET_pageType":"str","getEdgesUsingGET_textSearch":"","getEdgesUsingGET_textSearchType":"str","getEdgesUsingGET_sortProperty":"createdTime","getEdgesUsingGET_sortPropertyType":"str","getEdgesUsingGET_sortOrder":"ASC","getEdgesUsingGET_sortOrderType":"str","activateInstanceUsingPOST_licenseSecret":"","activateInstanceUsingPOST_licenseSecretType":"str","activateInstanceUsingPOST_releaseDate":"","activateInstanceUsingPOST_releaseDateType":"str","checkInstanceUsingPOST_body":"","checkInstanceUsingPOST_bodyType":"str","getTenantEdgeInfosUsingGET_pageSize":"","getTenantEdgeInfosUsingGET_pageSizeType":"str","getTenantEdgeInfosUsingGET_page":"","getTenantEdgeInfosUsingGET_pageType":"str","getTenantEdgeInfosUsingGET_type":"","getTenantEdgeInfosUsingGET_typeType":"str","getTenantEdgeInfosUsingGET_textSearch":"","getTenantEdgeInfosUsingGET_textSearchType":"str","getTenantEdgeInfosUsingGET_sortProperty":"createdTime","getTenantEdgeInfosUsingGET_sortPropertyType":"str","getTenantEdgeInfosUsingGET_sortOrder":"ASC","getTenantEdgeInfosUsingGET_sortOrderType":"str","getTenantEdgeUsingGET_edgeName":"","getTenantEdgeUsingGET_edgeNameType":"str","getTenantEdgesUsingGET_pageSize":"","getTenantEdgesUsingGET_pageSizeType":"str","getTenantEdgesUsingGET_page":"","getTenantEdgesUsingGET_pageType":"str","getTenantEdgesUsingGET_type":"","getTenantEdgesUsingGET_typeType":"str","getTenantEdgesUsingGET_textSearch":"","getTenantEdgesUsingGET_textSearchType":"str","getTenantEdgesUsingGET_sortProperty":"createdTime","getTenantEdgesUsingGET_sortPropertyType":"str","getTenantEdgesUsingGET_sortOrder":"ASC","getTenantEdgesUsingGET_sortOrderType":"str","getEdgeEventsUsingGET_edgeId":"","getEdgeEventsUsingGET_edgeIdType":"str","getEdgeEventsUsingGET_pageSize":"","getEdgeEventsUsingGET_pageSizeType":"str","getEdgeEventsUsingGET_page":"","getEdgeEventsUsingGET_pageType":"str","getEdgeEventsUsingGET_textSearch":"","getEdgeEventsUsingGET_textSearchType":"str","getEdgeEventsUsingGET_sortProperty":"createdTime","getEdgeEventsUsingGET_sortPropertyType":"str","getEdgeEventsUsingGET_sortOrder":"ASC","getEdgeEventsUsingGET_sortOrderType":"str","getEdgeEventsUsingGET_startTime":"","getEdgeEventsUsingGET_startTimeType":"str","getEdgeEventsUsingGET_endTime":"","getEdgeEventsUsingGET_endTimeType":"str","findAlarmDataByQueryUsingPOST_body":"","findAlarmDataByQueryUsingPOST_bodyType":"str","countEntitiesByQueryUsingPOST_body":"","countEntitiesByQueryUsingPOST_bodyType":"str","findEntityDataByQueryUsingPOST_body":"","findEntityDataByQueryUsingPOST_bodyType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_timeseries":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_timeseriesType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_attributes":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_attributesType":"str","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_body":"","findEntityTimeseriesAndAttributesKeysByQueryUsingPOST_bodyType":"str","saveRelationUsingPOST_body":"","saveRelationUsingPOST_bodyType":"str","findByQueryUsingPOST_3_body":"","findByQueryUsingPOST_3_bodyType":"str","findInfoByQueryUsingPOST_body":"","findInfoByQueryUsingPOST_bodyType":"str","findInfoByFromUsingGET_fromId":"","findInfoByFromUsingGET_fromIdType":"str","findInfoByFromUsingGET_fromType":"","findInfoByFromUsingGET_fromTypeType":"str","findInfoByFromUsingGET_relationTypeGroup":"","findInfoByFromUsingGET_relationTypeGroupType":"str","findInfoByToUsingGET_toId":"","findInfoByToUsingGET_toIdType":"str","findInfoByToUsingGET_toType":"","findInfoByToUsingGET_toTypeType":"str","findInfoByToUsingGET_relationTypeGroup":"","findInfoByToUsingGET_relationTypeGroupType":"str","deleteRelationsUsingDELETE_entityId":"","deleteRelationsUsingDELETE_entityIdType":"str","deleteRelationsUsingDELETE_entityType":"","deleteRelationsUsingDELETE_entityTypeType":"str","findByFromUsingGET_fromId":"","findByFromUsingGET_fromIdType":"str","findByFromUsingGET_fromType":"","findByFromUsingGET_fromTypeType":"str","findByFromUsingGET_relationType":"","findByFromUsingGET_relationTypeType":"str","findByFromUsingGET_relationTypeGroup":"","findByFromUsingGET_relationTypeGroupType":"str","findByFromUsingGET_1_fromId":"","findByFromUsingGET_1_fromIdType":"str","findByFromUsingGET_1_fromType":"","findByFromUsingGET_1_fromTypeType":"str","findByFromUsingGET_1_relationTypeGroup":"","findByFromUsingGET_1_relationTypeGroupType":"str","findByToUsingGET_toId":"","findByToUsingGET_toIdType":"str","findByToUsingGET_toType":"","findByToUsingGET_toTypeType":"str","findByToUsingGET_relationType":"","findByToUsingGET_relationTypeType":"str","findByToUsingGET_relationTypeGroup":"","findByToUsingGET_relationTypeGroupType":"str","findByToUsingGET_1_toId":"","findByToUsingGET_1_toIdType":"str","findByToUsingGET_1_toType":"","findByToUsingGET_1_toTypeType":"str","findByToUsingGET_1_relationTypeGroup":"","findByToUsingGET_1_relationTypeGroupType":"str","getRelationUsingGET_fromId":"","getRelationUsingGET_fromIdType":"str","getRelationUsingGET_fromType":"","getRelationUsingGET_fromTypeType":"str","getRelationUsingGET_relationType":"","getRelationUsingGET_relationTypeType":"str","getRelationUsingGET_relationTypeGroup":"","getRelationUsingGET_relationTypeGroupType":"str","getRelationUsingGET_toId":"","getRelationUsingGET_toIdType":"str","getRelationUsingGET_toType":"","getRelationUsingGET_toTypeType":"str","deleteRelationUsingDELETE_fromId":"","deleteRelationUsingDELETE_fromIdType":"str","deleteRelationUsingDELETE_fromType":"","deleteRelationUsingDELETE_fromTypeType":"str","deleteRelationUsingDELETE_relationType":"","deleteRelationUsingDELETE_relationTypeType":"str","deleteRelationUsingDELETE_relationTypeGroup":"","deleteRelationUsingDELETE_relationTypeGroupType":"str","deleteRelationUsingDELETE_toId":"","deleteRelationUsingDELETE_toIdType":"str","deleteRelationUsingDELETE_toType":"","deleteRelationUsingDELETE_toTypeType":"str","unassignEntityViewFromCustomerUsingDELETE_entityViewId":"","unassignEntityViewFromCustomerUsingDELETE_entityViewIdType":"str","assignEntityViewToPublicCustomerUsingPOST_entityViewId":"","assignEntityViewToPublicCustomerUsingPOST_entityViewIdType":"str","assignEntityViewToCustomerUsingPOST_customerId":"","assignEntityViewToCustomerUsingPOST_customerIdType":"str","assignEntityViewToCustomerUsingPOST_entityViewId":"","assignEntityViewToCustomerUsingPOST_entityViewIdType":"str","getCustomerEntityViewInfosUsingGET_customerId":"","getCustomerEntityViewInfosUsingGET_customerIdType":"str","getCustomerEntityViewInfosUsingGET_pageSize":"","getCustomerEntityViewInfosUsingGET_pageSizeType":"str","getCustomerEntityViewInfosUsingGET_page":"","getCustomerEntityViewInfosUsingGET_pageType":"str","getCustomerEntityViewInfosUsingGET_type":"","getCustomerEntityViewInfosUsingGET_typeType":"str","getCustomerEntityViewInfosUsingGET_textSearch":"","getCustomerEntityViewInfosUsingGET_textSearchType":"str","getCustomerEntityViewInfosUsingGET_sortProperty":"createdTime","getCustomerEntityViewInfosUsingGET_sortPropertyType":"str","getCustomerEntityViewInfosUsingGET_sortOrder":"ASC","getCustomerEntityViewInfosUsingGET_sortOrderType":"str","getCustomerEntityViewsUsingGET_customerId":"","getCustomerEntityViewsUsingGET_customerIdType":"str","getCustomerEntityViewsUsingGET_pageSize":"","getCustomerEntityViewsUsingGET_pageSizeType":"str","getCustomerEntityViewsUsingGET_page":"","getCustomerEntityViewsUsingGET_pageType":"str","getCustomerEntityViewsUsingGET_type":"","getCustomerEntityViewsUsingGET_typeType":"str","getCustomerEntityViewsUsingGET_textSearch":"","getCustomerEntityViewsUsingGET_textSearchType":"str","getCustomerEntityViewsUsingGET_sortProperty":"createdTime","getCustomerEntityViewsUsingGET_sortPropertyType":"str","getCustomerEntityViewsUsingGET_sortOrder":"ASC","getCustomerEntityViewsUsingGET_sortOrderType":"str","assignEntityViewToEdgeUsingPOST_edgeId":"","assignEntityViewToEdgeUsingPOST_edgeIdType":"str","assignEntityViewToEdgeUsingPOST_entityViewId":"","assignEntityViewToEdgeUsingPOST_entityViewIdType":"str","unassignEntityViewFromEdgeUsingDELETE_edgeId":"","unassignEntityViewFromEdgeUsingDELETE_edgeIdType":"str","unassignEntityViewFromEdgeUsingDELETE_entityViewId":"","unassignEntityViewFromEdgeUsingDELETE_entityViewIdType":"str","getEdgeEntityViewsUsingGET_edgeId":"","getEdgeEntityViewsUsingGET_edgeIdType":"str","getEdgeEntityViewsUsingGET_page":"","getEdgeEntityViewsUsingGET_pageType":"str","getEdgeEntityViewsUsingGET_pageSize":"","getEdgeEntityViewsUsingGET_pageSizeType":"str","getEdgeEntityViewsUsingGET_type":"","getEdgeEntityViewsUsingGET_typeType":"str","getEdgeEntityViewsUsingGET_textSearch":"","getEdgeEntityViewsUsingGET_textSearchType":"str","getEdgeEntityViewsUsingGET_sortProperty":"","getEdgeEntityViewsUsingGET_sortPropertyType":"str","getEdgeEntityViewsUsingGET_sortOrder":"","getEdgeEntityViewsUsingGET_sortOrderType":"str","getEdgeEntityViewsUsingGET_startTime":"","getEdgeEntityViewsUsingGET_startTimeType":"str","getEdgeEntityViewsUsingGET_endTime":"","getEdgeEntityViewsUsingGET_endTimeType":"str","saveEntityViewUsingPOST_body":"","saveEntityViewUsingPOST_bodyType":"str","getEntityViewInfoByIdUsingGET_entityViewId":"","getEntityViewInfoByIdUsingGET_entityViewIdType":"str","getEntityViewByIdUsingGET_entityViewId":"","getEntityViewByIdUsingGET_entityViewIdType":"str","deleteEntityViewUsingDELETE_entityViewId":"","deleteEntityViewUsingDELETE_entityViewIdType":"str","findByQueryUsingPOST_4_body":"","findByQueryUsingPOST_4_bodyType":"str","getTenantEntityViewInfosUsingGET_pageSize":"","getTenantEntityViewInfosUsingGET_pageSizeType":"str","getTenantEntityViewInfosUsingGET_page":"","getTenantEntityViewInfosUsingGET_pageType":"str","getTenantEntityViewInfosUsingGET_type":"","getTenantEntityViewInfosUsingGET_typeType":"str","getTenantEntityViewInfosUsingGET_textSearch":"","getTenantEntityViewInfosUsingGET_textSearchType":"str","getTenantEntityViewInfosUsingGET_sortProperty":"createdTime","getTenantEntityViewInfosUsingGET_sortPropertyType":"str","getTenantEntityViewInfosUsingGET_sortOrder":"ASC","getTenantEntityViewInfosUsingGET_sortOrderType":"str","getTenantEntityViewUsingGET_entityViewName":"","getTenantEntityViewUsingGET_entityViewNameType":"str","getTenantEntityViewsUsingGET_pageSize":"","getTenantEntityViewsUsingGET_pageSizeType":"str","getTenantEntityViewsUsingGET_page":"","getTenantEntityViewsUsingGET_pageType":"str","getTenantEntityViewsUsingGET_type":"","getTenantEntityViewsUsingGET_typeType":"str","getTenantEntityViewsUsingGET_textSearch":"","getTenantEntityViewsUsingGET_textSearchType":"str","getTenantEntityViewsUsingGET_sortProperty":"createdTime","getTenantEntityViewsUsingGET_sortPropertyType":"str","getTenantEntityViewsUsingGET_sortOrder":"ASC","getTenantEntityViewsUsingGET_sortOrderType":"str","clearEventsUsingPOST_entityType":"","clearEventsUsingPOST_entityTypeType":"str","clearEventsUsingPOST_entityId":"","clearEventsUsingPOST_entityIdType":"str","clearEventsUsingPOST_startTime":"","clearEventsUsingPOST_startTimeType":"str","clearEventsUsingPOST_endTime":"","clearEventsUsingPOST_endTimeType":"str","clearEventsUsingPOST_body":"","clearEventsUsingPOST_bodyType":"str","getEventsUsingGET_1_entityType":"","getEventsUsingGET_1_entityTypeType":"str","getEventsUsingGET_1_entityId":"","getEventsUsingGET_1_entityIdType":"str","getEventsUsingGET_1_eventType":"","getEventsUsingGET_1_eventTypeType":"str","getEventsUsingGET_1_tenantId":"","getEventsUsingGET_1_tenantIdType":"str","getEventsUsingGET_1_pageSize":"","getEventsUsingGET_1_pageSizeType":"str","getEventsUsingGET_1_page":"","getEventsUsingGET_1_pageType":"str","getEventsUsingGET_1_textSearch":"","getEventsUsingGET_1_textSearchType":"str","getEventsUsingGET_1_sortProperty":"createdTime","getEventsUsingGET_1_sortPropertyType":"str","getEventsUsingGET_1_sortOrder":"ASC","getEventsUsingGET_1_sortOrderType":"str","getEventsUsingGET_1_startTime":"","getEventsUsingGET_1_startTimeType":"str","getEventsUsingGET_1_endTime":"","getEventsUsingGET_1_endTimeType":"str","getEventsUsingGET_entityType":"","getEventsUsingGET_entityTypeType":"str","getEventsUsingGET_entityId":"","getEventsUsingGET_entityIdType":"str","getEventsUsingGET_tenantId":"","getEventsUsingGET_tenantIdType":"str","getEventsUsingGET_pageSize":"","getEventsUsingGET_pageSizeType":"str","getEventsUsingGET_page":"","getEventsUsingGET_pageType":"str","getEventsUsingGET_textSearch":"","getEventsUsingGET_textSearchType":"str","getEventsUsingGET_sortProperty":"createdTime","getEventsUsingGET_sortPropertyType":"str","getEventsUsingGET_sortOrder":"ASC","getEventsUsingGET_sortOrderType":"str","getEventsUsingGET_startTime":"","getEventsUsingGET_startTimeType":"str","getEventsUsingGET_endTime":"","getEventsUsingGET_endTimeType":"str","getEventsUsingPOST_entityType":"","getEventsUsingPOST_entityTypeType":"str","getEventsUsingPOST_entityId":"","getEventsUsingPOST_entityIdType":"str","getEventsUsingPOST_tenantId":"","getEventsUsingPOST_tenantIdType":"str","getEventsUsingPOST_pageSize":"","getEventsUsingPOST_pageSizeType":"str","getEventsUsingPOST_page":"","getEventsUsingPOST_pageType":"str","getEventsUsingPOST_textSearch":"","getEventsUsingPOST_textSearchType":"str","getEventsUsingPOST_sortProperty":"createdTime","getEventsUsingPOST_sortPropertyType":"str","getEventsUsingPOST_sortOrder":"ASC","getEventsUsingPOST_sortOrderType":"str","getEventsUsingPOST_startTime":"","getEventsUsingPOST_startTimeType":"str","getEventsUsingPOST_endTime":"","getEventsUsingPOST_endTimeType":"str","getEventsUsingPOST_body":"","getEventsUsingPOST_bodyType":"str","getLwm2mBootstrapSecurityInfoUsingGET_isBootstrapServer":"","getLwm2mBootstrapSecurityInfoUsingGET_isBootstrapServerType":"str","saveClientRegistrationTemplateUsingPOST_body":"","saveClientRegistrationTemplateUsingPOST_bodyType":"str","deleteClientRegistrationTemplateUsingDELETE_clientRegistrationTemplateId":"","deleteClientRegistrationTemplateUsingDELETE_clientRegistrationTemplateIdType":"str","getOAuth2ClientsUsingPOST_pkgName":"","getOAuth2ClientsUsingPOST_pkgNameType":"str","getOAuth2ClientsUsingPOST_platform":"ANDROID","getOAuth2ClientsUsingPOST_platformType":"str","saveOAuth2InfoUsingPOST_body":"","saveOAuth2InfoUsingPOST_bodyType":"str","saveOtaPackageInfoUsingPOST_body":"","saveOtaPackageInfoUsingPOST_bodyType":"str","getOtaPackageInfoByIdUsingGET_otaPackageId":"","getOtaPackageInfoByIdUsingGET_otaPackageIdType":"str","getOtaPackageByIdUsingGET_otaPackageId":"","getOtaPackageByIdUsingGET_otaPackageIdType":"str","deleteOtaPackageUsingDELETE_otaPackageId":"","deleteOtaPackageUsingDELETE_otaPackageIdType":"str","downloadOtaPackageUsingGET_otaPackageId":"","downloadOtaPackageUsingGET_otaPackageIdType":"str","saveOtaPackageDataUsingPOST_otaPackageId":"","saveOtaPackageDataUsingPOST_otaPackageIdType":"str","saveOtaPackageDataUsingPOST_checksum":"","saveOtaPackageDataUsingPOST_checksumType":"str","saveOtaPackageDataUsingPOST_checksumAlgorithm":"CRC32","saveOtaPackageDataUsingPOST_checksumAlgorithmType":"str","saveOtaPackageDataUsingPOST_body":"","saveOtaPackageDataUsingPOST_bodyType":"str","getOtaPackagesUsingGET_1_deviceProfileId":"","getOtaPackagesUsingGET_1_deviceProfileIdType":"str","getOtaPackagesUsingGET_1_type":"FIRMWARE","getOtaPackagesUsingGET_1_typeType":"str","getOtaPackagesUsingGET_1_pageSize":"","getOtaPackagesUsingGET_1_pageSizeType":"str","getOtaPackagesUsingGET_1_page":"","getOtaPackagesUsingGET_1_pageType":"str","getOtaPackagesUsingGET_1_textSearch":"","getOtaPackagesUsingGET_1_textSearchType":"str","getOtaPackagesUsingGET_1_sortProperty":"checksum","getOtaPackagesUsingGET_1_sortPropertyType":"str","getOtaPackagesUsingGET_1_sortOrder":"ASC","getOtaPackagesUsingGET_1_sortOrderType":"str","getOtaPackagesUsingGET_pageSize":"","getOtaPackagesUsingGET_pageSizeType":"str","getOtaPackagesUsingGET_page":"","getOtaPackagesUsingGET_pageType":"str","getOtaPackagesUsingGET_textSearch":"","getOtaPackagesUsingGET_textSearchType":"str","getOtaPackagesUsingGET_sortProperty":"checksum","getOtaPackagesUsingGET_sortPropertyType":"str","getOtaPackagesUsingGET_sortOrder":"ASC","getOtaPackagesUsingGET_sortOrderType":"str","getTenantQueuesByServiceTypeUsingGET_serviceType":"JS-EXECUTOR","getTenantQueuesByServiceTypeUsingGET_serviceTypeType":"str","handleOneWayDeviceRPCRequestUsingPOST_deviceId":"","handleOneWayDeviceRPCRequestUsingPOST_deviceIdType":"str","handleOneWayDeviceRPCRequestUsingPOST_body":"","handleOneWayDeviceRPCRequestUsingPOST_bodyType":"str","handleTwoWayDeviceRPCRequestUsingPOST_deviceId":"","handleTwoWayDeviceRPCRequestUsingPOST_deviceIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_body":"","handleTwoWayDeviceRPCRequestUsingPOST_bodyType":"str","handleOneWayDeviceRPCRequestUsingPOST_1_deviceId":"","handleOneWayDeviceRPCRequestUsingPOST_1_deviceIdType":"str","handleOneWayDeviceRPCRequestUsingPOST_1_body":"","handleOneWayDeviceRPCRequestUsingPOST_1_bodyType":"str","getPersistedRpcByDeviceUsingGET_deviceId":"","getPersistedRpcByDeviceUsingGET_deviceIdType":"str","getPersistedRpcByDeviceUsingGET_pageSize":"","getPersistedRpcByDeviceUsingGET_pageSizeType":"str","getPersistedRpcByDeviceUsingGET_page":"","getPersistedRpcByDeviceUsingGET_pageType":"str","getPersistedRpcByDeviceUsingGET_rpcStatus":"DELIVERED","getPersistedRpcByDeviceUsingGET_rpcStatusType":"str","getPersistedRpcByDeviceUsingGET_textSearch":"","getPersistedRpcByDeviceUsingGET_textSearchType":"str","getPersistedRpcByDeviceUsingGET_sortProperty":"createdTime","getPersistedRpcByDeviceUsingGET_sortPropertyType":"str","getPersistedRpcByDeviceUsingGET_sortOrder":"ASC","getPersistedRpcByDeviceUsingGET_sortOrderType":"str","getPersistedRpcUsingGET_rpcId":"","getPersistedRpcUsingGET_rpcIdType":"str","deleteRpcUsingDELETE_rpcId":"","deleteRpcUsingDELETE_rpcIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_1_deviceId":"","handleTwoWayDeviceRPCRequestUsingPOST_1_deviceIdType":"str","handleTwoWayDeviceRPCRequestUsingPOST_1_body":"","handleTwoWayDeviceRPCRequestUsingPOST_1_bodyType":"str","assignRuleChainToEdgeUsingPOST_edgeId":"","assignRuleChainToEdgeUsingPOST_edgeIdType":"str","assignRuleChainToEdgeUsingPOST_ruleChainId":"","assignRuleChainToEdgeUsingPOST_ruleChainIdType":"str","unassignRuleChainFromEdgeUsingDELETE_edgeId":"","unassignRuleChainFromEdgeUsingDELETE_edgeIdType":"str","unassignRuleChainFromEdgeUsingDELETE_ruleChainId":"","unassignRuleChainFromEdgeUsingDELETE_ruleChainIdType":"str","getEdgeRuleChainsUsingGET_edgeId":"","getEdgeRuleChainsUsingGET_edgeIdType":"str","getEdgeRuleChainsUsingGET_pageSize":"","getEdgeRuleChainsUsingGET_pageSizeType":"str","getEdgeRuleChainsUsingGET_page":"","getEdgeRuleChainsUsingGET_pageType":"str","getEdgeRuleChainsUsingGET_textSearch":"","getEdgeRuleChainsUsingGET_textSearchType":"str","getEdgeRuleChainsUsingGET_sortProperty":"createdTime","getEdgeRuleChainsUsingGET_sortPropertyType":"str","getEdgeRuleChainsUsingGET_sortOrder":"ASC","getEdgeRuleChainsUsingGET_sortOrderType":"str","saveRuleChainUsingPOST_1_body":"","saveRuleChainUsingPOST_1_bodyType":"str","saveRuleChainUsingPOST_body":"","saveRuleChainUsingPOST_bodyType":"str","saveRuleChainMetaDataUsingPOST_updateRelated":"","saveRuleChainMetaDataUsingPOST_updateRelatedType":"str","saveRuleChainMetaDataUsingPOST_body":"","saveRuleChainMetaDataUsingPOST_bodyType":"str","testScriptUsingPOST_body":"","testScriptUsingPOST_bodyType":"str","getRuleChainByIdUsingGET_ruleChainId":"","getRuleChainByIdUsingGET_ruleChainIdType":"str","deleteRuleChainUsingDELETE_ruleChainId":"","deleteRuleChainUsingDELETE_ruleChainIdType":"str","setAutoAssignToEdgeRuleChainUsingPOST_ruleChainId":"","setAutoAssignToEdgeRuleChainUsingPOST_ruleChainIdType":"str","unsetAutoAssignToEdgeRuleChainUsingDELETE_ruleChainId":"","unsetAutoAssignToEdgeRuleChainUsingDELETE_ruleChainIdType":"str","setEdgeTemplateRootRuleChainUsingPOST_ruleChainId":"","setEdgeTemplateRootRuleChainUsingPOST_ruleChainIdType":"str","getRuleChainMetaDataUsingGET_ruleChainId":"","getRuleChainMetaDataUsingGET_ruleChainIdType":"str","getRuleChainOutputLabelsUsingGET_ruleChainId":"","getRuleChainOutputLabelsUsingGET_ruleChainIdType":"str","getRuleChainOutputLabelsUsageUsingGET_ruleChainId":"","getRuleChainOutputLabelsUsageUsingGET_ruleChainIdType":"str","setRootRuleChainUsingPOST_ruleChainId":"","setRootRuleChainUsingPOST_ruleChainIdType":"str","exportRuleChainsUsingGET_limit":"","exportRuleChainsUsingGET_limitType":"str","importRuleChainsUsingPOST_overwrite":"","importRuleChainsUsingPOST_overwriteType":"str","importRuleChainsUsingPOST_body":"","importRuleChainsUsingPOST_bodyType":"str","getRuleChainsUsingGET_pageSize":"","getRuleChainsUsingGET_pageSizeType":"str","getRuleChainsUsingGET_page":"","getRuleChainsUsingGET_pageType":"str","getRuleChainsUsingGET_type":"CORE","getRuleChainsUsingGET_typeType":"str","getRuleChainsUsingGET_textSearch":"","getRuleChainsUsingGET_textSearchType":"str","getRuleChainsUsingGET_sortProperty":"createdTime","getRuleChainsUsingGET_sortPropertyType":"str","getRuleChainsUsingGET_sortOrder":"ASC","getRuleChainsUsingGET_sortOrderType":"str","getLatestRuleNodeDebugInputUsingGET_ruleNodeId":"","getLatestRuleNodeDebugInputUsingGET_ruleNodeIdType":"str","activateUserByEmailCodeUsingPOST_emailCode":"","activateUserByEmailCodeUsingPOST_emailCodeType":"str","activateUserByEmailCodeUsingPOST_pkgName":"","activateUserByEmailCodeUsingPOST_pkgNameType":"str","activateEmailUsingGET_emailCode":"","activateEmailUsingGET_emailCodeType":"str","activateEmailUsingGET_pkgName":"","activateEmailUsingGET_pkgNameType":"str","mobileLoginUsingGET_pkgName":"","mobileLoginUsingGET_pkgNameType":"str","resendEmailActivationUsingPOST_email":"","resendEmailActivationUsingPOST_emailType":"str","resendEmailActivationUsingPOST_pkgName":"","resendEmailActivationUsingPOST_pkgNameType":"str","signUpUsingPOST_body":"","signUpUsingPOST_bodyType":"str","saveResourceUsingPOST_body":"","saveResourceUsingPOST_bodyType":"str","getResourceInfoByIdUsingGET_resourceId":"","getResourceInfoByIdUsingGET_resourceIdType":"str","getLwm2mListObjectsPageUsingGET_pageSize":"","getLwm2mListObjectsPageUsingGET_pageSizeType":"str","getLwm2mListObjectsPageUsingGET_page":"","getLwm2mListObjectsPageUsingGET_pageType":"str","getLwm2mListObjectsPageUsingGET_textSearch":"","getLwm2mListObjectsPageUsingGET_textSearchType":"str","getLwm2mListObjectsPageUsingGET_sortProperty":"id","getLwm2mListObjectsPageUsingGET_sortPropertyType":"str","getLwm2mListObjectsPageUsingGET_sortOrder":"ASC","getLwm2mListObjectsPageUsingGET_sortOrderType":"str","getLwm2mListObjectsUsingGET_sortOrder":"ASC","getLwm2mListObjectsUsingGET_sortOrderType":"str","getLwm2mListObjectsUsingGET_sortProperty":"id","getLwm2mListObjectsUsingGET_sortPropertyType":"str","getLwm2mListObjectsUsingGET_objectIds":"","getLwm2mListObjectsUsingGET_objectIdsType":"str","getResourceByIdUsingGET_resourceId":"","getResourceByIdUsingGET_resourceIdType":"str","deleteResourceUsingDELETE_resourceId":"","deleteResourceUsingDELETE_resourceIdType":"str","downloadResourceUsingGET_resourceId":"","downloadResourceUsingGET_resourceIdType":"str","getResourcesUsingGET_pageSize":"","getResourcesUsingGET_pageSizeType":"str","getResourcesUsingGET_page":"","getResourcesUsingGET_pageType":"str","getResourcesUsingGET_textSearch":"","getResourcesUsingGET_textSearchType":"str","getResourcesUsingGET_sortProperty":"createdTime","getResourcesUsingGET_sortPropertyType":"str","getResourcesUsingGET_sortOrder":"ASC","getResourcesUsingGET_sortOrderType":"str","saveDeviceAttributesUsingPOST_deviceId":"","saveDeviceAttributesUsingPOST_deviceIdType":"str","saveDeviceAttributesUsingPOST_scope":"CLIENT_SCOPE","saveDeviceAttributesUsingPOST_scopeType":"str","saveDeviceAttributesUsingPOST_body":"","saveDeviceAttributesUsingPOST_bodyType":"str","deleteDeviceAttributesUsingDELETE_deviceId":"","deleteDeviceAttributesUsingDELETE_deviceIdType":"str","deleteDeviceAttributesUsingDELETE_scope":"CLIENT_SCOPE","deleteDeviceAttributesUsingDELETE_scopeType":"str","deleteDeviceAttributesUsingDELETE_keys":"","deleteDeviceAttributesUsingDELETE_keysType":"str","saveEntityAttributesV2UsingPOST_entityType":"","saveEntityAttributesV2UsingPOST_entityTypeType":"str","saveEntityAttributesV2UsingPOST_entityId":"","saveEntityAttributesV2UsingPOST_entityIdType":"str","saveEntityAttributesV2UsingPOST_scope":"CLIENT_SCOPE","saveEntityAttributesV2UsingPOST_scopeType":"str","saveEntityAttributesV2UsingPOST_body":"","saveEntityAttributesV2UsingPOST_bodyType":"str","getAttributeKeysUsingGET_entityType":"","getAttributeKeysUsingGET_entityTypeType":"str","getAttributeKeysUsingGET_entityId":"","getAttributeKeysUsingGET_entityIdType":"str","getAttributeKeysByScopeUsingGET_entityType":"","getAttributeKeysByScopeUsingGET_entityTypeType":"str","getAttributeKeysByScopeUsingGET_entityId":"","getAttributeKeysByScopeUsingGET_entityIdType":"str","getAttributeKeysByScopeUsingGET_scope":"CLIENT_SCOPE","getAttributeKeysByScopeUsingGET_scopeType":"str","getTimeseriesKeysUsingGET_1_entityType":"","getTimeseriesKeysUsingGET_1_entityTypeType":"str","getTimeseriesKeysUsingGET_1_entityId":"","getTimeseriesKeysUsingGET_1_entityIdType":"str","deleteEntityTimeseriesUsingDELETE_entityType":"","deleteEntityTimeseriesUsingDELETE_entityTypeType":"str","deleteEntityTimeseriesUsingDELETE_entityId":"","deleteEntityTimeseriesUsingDELETE_entityIdType":"str","deleteEntityTimeseriesUsingDELETE_keys":"","deleteEntityTimeseriesUsingDELETE_keysType":"str","deleteEntityTimeseriesUsingDELETE_deleteAllDataForKeys":"","deleteEntityTimeseriesUsingDELETE_deleteAllDataForKeysType":"str","deleteEntityTimeseriesUsingDELETE_startTs":"","deleteEntityTimeseriesUsingDELETE_startTsType":"str","deleteEntityTimeseriesUsingDELETE_endTs":"","deleteEntityTimeseriesUsingDELETE_endTsType":"str","deleteEntityTimeseriesUsingDELETE_rewriteLatestIfDeleted":"","deleteEntityTimeseriesUsingDELETE_rewriteLatestIfDeletedType":"str","saveEntityTelemetryWithTTLUsingPOST_entityType":"","saveEntityTelemetryWithTTLUsingPOST_entityTypeType":"str","saveEntityTelemetryWithTTLUsingPOST_entityId":"","saveEntityTelemetryWithTTLUsingPOST_entityIdType":"str","saveEntityTelemetryWithTTLUsingPOST_scope":"ANY","saveEntityTelemetryWithTTLUsingPOST_scopeType":"str","saveEntityTelemetryWithTTLUsingPOST_ttl":"","saveEntityTelemetryWithTTLUsingPOST_ttlType":"str","saveEntityTelemetryWithTTLUsingPOST_body":"","saveEntityTelemetryWithTTLUsingPOST_bodyType":"str","saveEntityTelemetryUsingPOST_entityType":"","saveEntityTelemetryUsingPOST_entityTypeType":"str","saveEntityTelemetryUsingPOST_entityId":"","saveEntityTelemetryUsingPOST_entityIdType":"str","saveEntityTelemetryUsingPOST_scope":"ANY","saveEntityTelemetryUsingPOST_scopeType":"str","saveEntityTelemetryUsingPOST_body":"","saveEntityTelemetryUsingPOST_bodyType":"str","getAttributesByScopeUsingGET_entityType":"","getAttributesByScopeUsingGET_entityTypeType":"str","getAttributesByScopeUsingGET_entityId":"","getAttributesByScopeUsingGET_entityIdType":"str","getAttributesByScopeUsingGET_scope":"CLIENT_SCOPE","getAttributesByScopeUsingGET_scopeType":"str","getAttributesByScopeUsingGET_keys":"","getAttributesByScopeUsingGET_keysType":"str","getAttributesUsingGET_entityType":"","getAttributesUsingGET_entityTypeType":"str","getAttributesUsingGET_entityId":"","getAttributesUsingGET_entityIdType":"str","getAttributesUsingGET_keys":"","getAttributesUsingGET_keysType":"str","getTimeseriesUsingGET_entityType":"","getTimeseriesUsingGET_entityTypeType":"str","getTimeseriesUsingGET_entityId":"","getTimeseriesUsingGET_entityIdType":"str","getTimeseriesUsingGET_keys":"","getTimeseriesUsingGET_keysType":"str","getTimeseriesUsingGET_startTs":"","getTimeseriesUsingGET_startTsType":"str","getTimeseriesUsingGET_endTs":"","getTimeseriesUsingGET_endTsType":"str","getTimeseriesUsingGET_interval":"","getTimeseriesUsingGET_intervalType":"str","getTimeseriesUsingGET_limit":"","getTimeseriesUsingGET_limitType":"str","getTimeseriesUsingGET_agg":"AVG","getTimeseriesUsingGET_aggType":"str","getTimeseriesUsingGET_orderBy":"ASC","getTimeseriesUsingGET_orderByType":"str","getTimeseriesUsingGET_useStrictDataTypes":"","getTimeseriesUsingGET_useStrictDataTypesType":"str","getLatestTimeseriesUsingGET_entityType":"","getLatestTimeseriesUsingGET_entityTypeType":"str","getLatestTimeseriesUsingGET_entityId":"","getLatestTimeseriesUsingGET_entityIdType":"str","getLatestTimeseriesUsingGET_keys":"","getLatestTimeseriesUsingGET_keysType":"str","getLatestTimeseriesUsingGET_useStrictDataTypes":"","getLatestTimeseriesUsingGET_useStrictDataTypesType":"str","saveEntityAttributesV1UsingPOST_entityType":"","saveEntityAttributesV1UsingPOST_entityTypeType":"str","saveEntityAttributesV1UsingPOST_entityId":"","saveEntityAttributesV1UsingPOST_entityIdType":"str","saveEntityAttributesV1UsingPOST_scope":"CLIENT_SCOPE","saveEntityAttributesV1UsingPOST_scopeType":"str","saveEntityAttributesV1UsingPOST_body":"","saveEntityAttributesV1UsingPOST_bodyType":"str","deleteEntityAttributesUsingDELETE_entityType":"","deleteEntityAttributesUsingDELETE_entityTypeType":"str","deleteEntityAttributesUsingDELETE_entityId":"","deleteEntityAttributesUsingDELETE_entityIdType":"str","deleteEntityAttributesUsingDELETE_scope":"CLIENT_SCOPE","deleteEntityAttributesUsingDELETE_scopeType":"str","deleteEntityAttributesUsingDELETE_keys":"","deleteEntityAttributesUsingDELETE_keysType":"str","saveTenantUsingPOST_body":"","saveTenantUsingPOST_bodyType":"str","getTenantInfoByIdUsingGET_tenantId":"","getTenantInfoByIdUsingGET_tenantIdType":"str","getTenantByIdUsingGET_tenantId":"","getTenantByIdUsingGET_tenantIdType":"str","deleteTenantUsingDELETE_tenantId":"","deleteTenantUsingDELETE_tenantIdType":"str","getTenantInfosUsingGET_pageSize":"","getTenantInfosUsingGET_pageSizeType":"str","getTenantInfosUsingGET_page":"","getTenantInfosUsingGET_pageType":"str","getTenantInfosUsingGET_textSearch":"","getTenantInfosUsingGET_textSearchType":"str","getTenantInfosUsingGET_sortProperty":"address","getTenantInfosUsingGET_sortPropertyType":"str","getTenantInfosUsingGET_sortOrder":"ASC","getTenantInfosUsingGET_sortOrderType":"str","getTenantsUsingGET_pageSize":"","getTenantsUsingGET_pageSizeType":"str","getTenantsUsingGET_page":"","getTenantsUsingGET_pageType":"str","getTenantsUsingGET_textSearch":"","getTenantsUsingGET_textSearchType":"str","getTenantsUsingGET_sortProperty":"address","getTenantsUsingGET_sortPropertyType":"str","getTenantsUsingGET_sortOrder":"ASC","getTenantsUsingGET_sortOrderType":"str","saveTenantProfileUsingPOST_body":"","saveTenantProfileUsingPOST_bodyType":"str","getTenantProfileByIdUsingGET_tenantProfileId":"","getTenantProfileByIdUsingGET_tenantProfileIdType":"str","deleteTenantProfileUsingDELETE_tenantProfileId":"","deleteTenantProfileUsingDELETE_tenantProfileIdType":"str","setDefaultTenantProfileUsingPOST_tenantProfileId":"","setDefaultTenantProfileUsingPOST_tenantProfileIdType":"str","getTenantProfileInfoByIdUsingGET_tenantProfileId":"","getTenantProfileInfoByIdUsingGET_tenantProfileIdType":"str","getTenantProfileInfosUsingGET_pageSize":"","getTenantProfileInfosUsingGET_pageSizeType":"str","getTenantProfileInfosUsingGET_page":"","getTenantProfileInfosUsingGET_pageType":"str","getTenantProfileInfosUsingGET_textSearch":"","getTenantProfileInfosUsingGET_textSearchType":"str","getTenantProfileInfosUsingGET_sortProperty":"id","getTenantProfileInfosUsingGET_sortPropertyType":"str","getTenantProfileInfosUsingGET_sortOrder":"ASC","getTenantProfileInfosUsingGET_sortOrderType":"str","getTenantProfilesUsingGET_pageSize":"","getTenantProfilesUsingGET_pageSizeType":"str","getTenantProfilesUsingGET_page":"","getTenantProfilesUsingGET_pageType":"str","getTenantProfilesUsingGET_textSearch":"","getTenantProfilesUsingGET_textSearchType":"str","getTenantProfilesUsingGET_sortProperty":"createdTime","getTenantProfilesUsingGET_sortPropertyType":"str","getTenantProfilesUsingGET_sortOrder":"ASC","getTenantProfilesUsingGET_sortOrderType":"str","getCustomerUsersUsingGET_customerId":"","getCustomerUsersUsingGET_customerIdType":"str","getCustomerUsersUsingGET_pageSize":"","getCustomerUsersUsingGET_pageSizeType":"str","getCustomerUsersUsingGET_page":"","getCustomerUsersUsingGET_pageType":"str","getCustomerUsersUsingGET_textSearch":"","getCustomerUsersUsingGET_textSearchType":"str","getCustomerUsersUsingGET_sortProperty":"createdTime","getCustomerUsersUsingGET_sortPropertyType":"str","getCustomerUsersUsingGET_sortOrder":"ASC","getCustomerUsersUsingGET_sortOrderType":"str","getTenantAdminsUsingGET_tenantId":"","getTenantAdminsUsingGET_tenantIdType":"str","getTenantAdminsUsingGET_pageSize":"","getTenantAdminsUsingGET_pageSizeType":"str","getTenantAdminsUsingGET_page":"","getTenantAdminsUsingGET_pageType":"str","getTenantAdminsUsingGET_textSearch":"","getTenantAdminsUsingGET_textSearchType":"str","getTenantAdminsUsingGET_sortProperty":"createdTime","getTenantAdminsUsingGET_sortPropertyType":"str","getTenantAdminsUsingGET_sortOrder":"ASC","getTenantAdminsUsingGET_sortOrderType":"str","sendActivationEmailUsingPOST_email":"","sendActivationEmailUsingPOST_emailType":"str","getUserByIdUsingGET_userId":"","getUserByIdUsingGET_userIdType":"str","deleteUserUsingDELETE_userId":"","deleteUserUsingDELETE_userIdType":"str","getActivationLinkUsingGET_userId":"","getActivationLinkUsingGET_userIdType":"str","getUserTokenUsingGET_userId":"","getUserTokenUsingGET_userIdType":"str","setUserCredentialsEnabledUsingPOST_userId":"","setUserCredentialsEnabledUsingPOST_userIdType":"str","setUserCredentialsEnabledUsingPOST_userCredentialsEnabled":"","setUserCredentialsEnabledUsingPOST_userCredentialsEnabledType":"str","getUsersUsingGET_pageSize":"","getUsersUsingGET_pageSizeType":"str","getUsersUsingGET_page":"","getUsersUsingGET_pageType":"str","getUsersUsingGET_textSearch":"","getUsersUsingGET_textSearchType":"str","getUsersUsingGET_sortProperty":"createdTime","getUsersUsingGET_sortPropertyType":"str","getUsersUsingGET_sortOrder":"ASC","getUsersUsingGET_sortOrderType":"str","saveUserUsingPOST_sendActivationMail":"","saveUserUsingPOST_sendActivationMailType":"str","saveUserUsingPOST_body":"","saveUserUsingPOST_bodyType":"str","saveWidgetTypeUsingPOST_body":"","saveWidgetTypeUsingPOST_bodyType":"str","getWidgetTypeByIdUsingGET_widgetTypeId":"","getWidgetTypeByIdUsingGET_widgetTypeIdType":"str","deleteWidgetTypeUsingDELETE_widgetTypeId":"","deleteWidgetTypeUsingDELETE_widgetTypeIdType":"str","getBundleWidgetTypesDetailsUsingGET_isSystem":"","getBundleWidgetTypesDetailsUsingGET_isSystemType":"str","getBundleWidgetTypesDetailsUsingGET_bundleAlias":"","getBundleWidgetTypesDetailsUsingGET_bundleAliasType":"str","getBundleWidgetTypesInfosUsingGET_isSystem":"","getBundleWidgetTypesInfosUsingGET_isSystemType":"str","getBundleWidgetTypesInfosUsingGET_bundleAlias":"","getBundleWidgetTypesInfosUsingGET_bundleAliasType":"str","getBundleWidgetTypesUsingGET_isSystem":"","getBundleWidgetTypesUsingGET_isSystemType":"str","getBundleWidgetTypesUsingGET_bundleAlias":"","getBundleWidgetTypesUsingGET_bundleAliasType":"str","getWidgetTypeUsingGET_isSystem":"","getWidgetTypeUsingGET_isSystemType":"str","getWidgetTypeUsingGET_bundleAlias":"","getWidgetTypeUsingGET_bundleAliasType":"str","getWidgetTypeUsingGET_alias":"","getWidgetTypeUsingGET_aliasType":"str","saveWidgetsBundleUsingPOST_body":"","saveWidgetsBundleUsingPOST_bodyType":"str","getWidgetsBundleByIdUsingGET_widgetsBundleId":"","getWidgetsBundleByIdUsingGET_widgetsBundleIdType":"str","deleteWidgetsBundleUsingDELETE_widgetsBundleId":"","deleteWidgetsBundleUsingDELETE_widgetsBundleIdType":"str","getWidgetsBundlesUsingGET_1_pageSize":"","getWidgetsBundlesUsingGET_1_pageSizeType":"str","getWidgetsBundlesUsingGET_1_page":"","getWidgetsBundlesUsingGET_1_pageType":"str","getWidgetsBundlesUsingGET_1_textSearch":"","getWidgetsBundlesUsingGET_1_textSearchType":"str","getWidgetsBundlesUsingGET_1_sortProperty":"createdTime","getWidgetsBundlesUsingGET_1_sortPropertyType":"str","getWidgetsBundlesUsingGET_1_sortOrder":"ASC","getWidgetsBundlesUsingGET_1_sortOrderType":"str","name":"","x":350,"y":220,"wires":[["48391c8381963423"]]},{"id":"41e9a65ff5fe4e4d","type":"swagger-petstore","z":"b8704d44e4eb0d96","service":"15d2d734319b175f","method":"addPet","uploadFile_petId":"1","uploadFile_petIdType":"str","uploadFile_additionalMetadata":"","uploadFile_additionalMetadataType":"str","uploadFile_file":"","uploadFile_fileType":"str","addPet_body":"","addPet_bodyType":"str","updatePet_body":"","updatePet_bodyType":"str","findPetsByStatus_status":"","findPetsByStatus_statusType":"str","findPetsByTags_tags":"","findPetsByTags_tagsType":"str","getPetById_petId":"","getPetById_petIdType":"str","updatePetWithForm_petId":"","updatePetWithForm_petIdType":"str","updatePetWithForm_name":"","updatePetWithForm_nameType":"str","updatePetWithForm_status":"","updatePetWithForm_statusType":"str","deletePet_apiKey":"","deletePet_apiKeyType":"str","deletePet_petId":"","deletePet_petIdType":"str","placeOrder_body":"","placeOrder_bodyType":"str","getOrderById_orderId":"","getOrderById_orderIdType":"str","deleteOrder_orderId":"","deleteOrder_orderIdType":"str","createUsersWithArrayInput_body":"","createUsersWithArrayInput_bodyType":"str","createUsersWithListInput_body":"","createUsersWithListInput_bodyType":"str","getUserByName_username":"","getUserByName_usernameType":"str","updateUser_username":"","updateUser_usernameType":"str","updateUser_body":"","updateUser_bodyType":"str","deleteUser_username":"","deleteUser_usernameType":"str","loginUser_username":"","loginUser_usernameType":"str","loginUser_password":"","loginUser_passwordType":"str","createUser_body":"","createUser_bodyType":"str","name":"petstore","x":340,"y":180,"wires":[["c2dcaf49f40c80ba"]]},{"id":"8b2577aaa74bde58","type":"inject","z":"b8704d44e4eb0d96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":0,\"category\":{\"id\":0,\"name\":\"string\"},\"name\":\"doggie\",\"photoUrls\":[\"string\"],\"tags\":[{\"id\":0,\"name\":\"string\"}],\"status\":\"available\"}","payloadType":"json","x":110,"y":180,"wires":[["41e9a65ff5fe4e4d"]]},{"id":"c2dcaf49f40c80ba","type":"debug","z":"b8704d44e4eb0d96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]}]